<div class="vrsta p-d-flex p-col-12">
    <div class="p-col-12 p-sm-3 p-lg-1">
        <p>Врста именице:</p>
    </div>
    <div class="select p-col-12 p-sm-9 p-lg-11">
        <p-dropdown *ngIf="selectedNounType.name != ''" [options]="nounTypes" [(ngModel)]="selectedNounType" optionLabel="name" (ngModelChange)="changeImenica()" placeholder="{{selectedNounType.name}}"></p-dropdown>
        <p-dropdown *ngIf="selectedNounType.name == ''" [options]="nounTypes" [(ngModel)]="selectedNounType" optionLabel="name" (ngModelChange)="changeImenica()" placeholder="..."></p-dropdown>
    </div>
</div>
<div>
    <ng-template *ngTemplateOutlet="padezi; context: {$implicit: imenica}"></ng-template>
    <div class="p-d-flex p-col-12 variants">
        <div class="p-d-flex p-col-12">
            <div class="p-mr-2">
                <h3>Варијанте именице</h3>
            </div>
            <div class="button p-mr-2">
                <button pButton class="p-button-rounded p-button-outlined add-button" (click)="addVariant()" icon="pi pi-plus"></button>
            </div>
        </div>
    </div>
    <div class="p-d-flex p-col-8" *ngFor="let variant of variants; index as i">
        <div class="p-col-12">
            <p-fieldset legend="Варијанта именице" [toggleable]="true" collapsed="true">
                <ng-template *ngTemplateOutlet="padezi; context: {$implicit: variants[i]}"></ng-template>
            </p-fieldset>
        </div>
        <div class="p-col-1">
            <button pButton class="p-button-rounded p-button-outlined p-button-danger add-button" (click)="removeVariant(variants[i])" icon="pi pi-minus"></button>
        </div>
    </div>
</div>
<p-toast></p-toast>

<ng-template #padezi let-imenica>
    <div class="p-d-flex p-flex-wrap p-col-8">
        <div class="p-col-6 p-sm-5 p-lg-5">
            <p class="label">Једнина</p>
            <div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Номинатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.nomjed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Генитив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.genjed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Датив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.datjed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Акузатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.akujed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Вокатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.vokjed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Инструментал</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.insjed" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Локатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.lokjed" (ngModelChange)="changeImenica()"/>
                </div>
            </div>
        </div>
        <div class="p-col-6 p-sm-5 p-lg-5">
            <p class="label">Множина</p>
            <div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Номинатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.nommno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Генитив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.genmno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Датив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.datmno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Акузатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.akumno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Вокатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.vokmno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Инструментал</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.insmno" (ngModelChange)="changeImenica()"/>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-5">Локатив</p>
                    <input class="p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="imenica.lokmno" (ngModelChange)="changeImenica()"/>
                </div>
            </div>
        </div>
    </div>
</ng-template>
