.vrsta {
    margin-bottom: -40px;
}

.select {
    margin-left: 12px;
}

.label {
    font-weight: bold;
}

.input p {
    padding-left: 0;
}

.input input {
    width: 150px;
    margin: 0;
    font-family: "Fira Sans";
}

.variants {
    padding-left: 4px;
    padding-top: 0;
    padding-bottom: 0;
}

.variants .p-col-12 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    margin-left: 5px;
}

.button {
    margin-top: auto;
    margin-bottom: auto;
}

:host ::ng-deep .p-inputgroup {
    width: 220px;
}

:host ::ng-deep .p-inputtext {
    height: 30px;
    align-self: center;
    margin: auto;
}

:host ::ng-deep .p-fieldset {
    margin-bottom: 20px;
}

:host ::ng-deep .p-fieldset-content {
    padding-top: 0;
}
