<div class="search-container" *ngIf="!searching && hits">
  <h3 *ngIf="word">
    {{word.osnovni_oblik}} &nbsp;&nbsp; 
    <span class="vrsta-reci">[{{word.naziv_vrste_reci}}]</span> &nbsp;&nbsp; 
    <a class="edit-link" [routerLink]="editRouterLink" _target="blank">обрада &gt;&gt;</a>
  </h3>
  <h3 *ngIf="wordForm">{{wordForm}}</h3>


  <div class="grid">
    <div class="col-9">
      <div class="grid align-items-center">
        <div class="col-7">
          <p-paginator [totalRecords]="hits.length" [first]="first" 
            (onPageChange)="onPageChange($event)" [rows]="100" [rowsPerPageOptions]="[100,200,300]" 
            [showJumpToPageDropdown]="true">
          </p-paginator>
        </div>
        <div class="col-5 flex justify-content-end">
          <p>{{hits.length}} {{pogodaka()}}</p>
          <p-dropdown [options]="fragmentSizes" [(ngModel)]="fragmentSize" 
            (onChange)="changeFragmentSize($event)" optionLabel="name" 
            [style]="{width: '120px', 'margin-left': '5px', 'margin-top': '5px'}">
          </p-dropdown>
          <p-dropdown [options]="scanners" [(ngModel)]="scanner" 
            (onChange)="changeScanner($event)" optionLabel="name" 
            [style]="{width: '120px', 'margin-left': '5px', 'margin-top': '5px'}">
          </p-dropdown>
        </div>
      </div>
    
      <div class="hits">
        <div *ngFor="let hit of hitPage" class="hit-row">
          <p class="rbr right">{{hit.order_nr}}.</p>
          <p class="skr pointer" (click)="openReference($event, hit)">[{{ hit.skracenica || '---' }}]</p>
          <p class="skr">
            <button pButton pRipple type="button" icon="pi pi-palette" class="p-button-text btn-minimal" (click)="openColorPicker($event, hit)"></button>
          </p>
          <!-- <p class="izv" [ngClass]="hit.color" [innerHTML]="safe(hit.highlights)"></p> -->
          <p class="izv" [ngClass]="hit.color" (mouseup)="selectText($event, hit)">
            <span *ngFor="let high of hit.highlights; let i=index" [ngClass]="{'fword': i % 2 === 1}">{{high}}</span>
          </p>
        </div>
      </div>

      <div class="grid align-items-center">
        <div class="col-7">
          <p-paginator [totalRecords]="hits.length" [first]="first" 
            (onPageChange)="onPageChange($event)" [rows]="100" [rowsPerPageOptions]="[100,200,300]" 
            [showJumpToPageDropdown]="true">
          </p-paginator>
        </div>
        <div class="col-5 flex justify-content-end">
          <p>{{hits.length}} {{pogodaka()}}</p>
          <p-dropdown [options]="fragmentSizes" [(ngModel)]="fragmentSize" 
            (onChange)="changeFragmentSize($event)" optionLabel="name" 
            [style]="{width: '120px', 'margin-left': '5px', 'margin-top': '5px'}">
          </p-dropdown>
          <p-dropdown [options]="scanners" [(ngModel)]="scanner" 
            (onChange)="changeScanner($event)" optionLabel="name" 
            [style]="{width: '120px', 'margin-left': '5px', 'margin-top': '5px'}">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-3 left-border">
      <div class="p-inputgroup">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <!-- <input pInputText [(ngModel)]="searchDict" (keyup.enter)="searchDict()" class="w-full"/> -->
          <p-autoComplete [(ngModel)]="searchText" [suggestions]="searchResults" (completeMethod)="search($event)" class="search-component" scrollHeight="500px" (onSelect)="select($event)" placeholder="Претрага" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
            <ng-template let-word pTemplate="item">
              <span class="rec">{{word.rec}}<span *ngIf="word.rbr_homo"><sup>{{word.rbr_homo}}</sup></span></span>
              <span class="vrsta">{{word.vrsta_text}}</span>
            </ng-template>
          </p-autoComplete>
        </span>
      </div>
      <div class="flex align-items-center">
        <h3>Речник: база<sup>1</sup></h3>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај значење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal mr-2"></button>
        <button pTooltip="Сачувај одредницу" pButton pRipple type="button" icon="pi pi-save" class="p-button-success btn-minimal"></button>
      </div>

      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#1</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div>
        <div>
          <span class="pointer">основа, оно што служи као темељ на коме се нешто изграђује</span>
        </div>
        <div class="flex align-items-top justify-content-start">
          <div><button pButton pRipple type="button" icon="pi pi-book" class="p-button-text btn-minimal" (click)="openReference2($event, hits[0])"></button></div>
          <div>
            <span class="pointer">Ђула беше филозоф, на бази начела nоn olet</span>
          </div>
        </div>
      </div>

      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#2</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div>
        <div>
          <span class="pointer">упориште, ослонац, полазиште за вршење операција</span>
        </div>
        <div class="flex align-items-top justify-content-start">
          <div><button pButton pRipple type="button" icon="pi pi-book" class="p-button-text btn-minimal" (click)="openReference2($event, hits[0])"></button></div>
          <div>
            <span class="pointer">Roman Grifinovo jaje (Griffin’s Egg, 1990) prati avanture stanovnika mesečeve baze napadnute veštački stvorenim virusom.</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex align-items-top justify-content-start">
          <div><button pButton pRipple type="button" icon="pi pi-book" class="p-button-text btn-minimal" (click)="openReference2($event, hits[0])"></button></div>
          <div>
            <span class="pointer">Основна документациона база оперативне активности, рационалног и ефикасног рада</span>
          </div>
        </div>
      </div>
      
      
      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#3</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div class="submeaning flex align-items-center">
        <h4 class="submeaning-nr">#3a</h4>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-superminimal"></button>
      </div>
      <div class="submeaning">
        <span class="pointer">склониште, сигурно место</span>
      </div>
      <div class="submeaning flex align-items-center">
        <h4 class="submeaning-nr">#3б</h4>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-superminimal"></button>
      </div>
      <div class="submeaning">
        <div>
          <span class="pointer">партизанско склониште у II светском рату</span>
        </div>
        <div class="flex align-items-top justify-content-start">
          <div><button pButton pRipple type="button" icon="pi pi-book" class="p-button-text btn-bookmark" (click)="openReference2($event, hits[0])"></button></div>
          <div class="pointer">Арагон је поклекао пред „комунистима из базе“</div>
        </div>
      </div>
    
      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#4</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div>
        <span class="pointer">област за снабдевање</span>
      </div>

      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#5</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div>
        <span class="pointer">супстанца лужинастог укуса, лужина</span>
      </div>

      <div class="flex align-items-center bottom-border">
        <h4 class="meaning-nr">#6</h4>
        <div class="flex-grow-1"></div>
        <button pTooltip="Додај подзначење" tooltipPosition="left" pButton pRipple type="button" icon="pi pi-plus" class="p-button-text p-button-success btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-minimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-minimal"></button>
      </div>
      <div class="submeaning flex align-items-center">
        <h4 class="submeaning-nr">#6a</h4>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-superminimal"></button>
      </div>
      <div class="submeaning">
        <span class="pointer">основа (при степеновању)</span>
      </div>
      <div class="submeaning flex align-items-center">
        <h4 class="submeaning-nr">#6б</h4>
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text btn-superminimal"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger btn-superminimal"></button>
      </div>
      <div class="submeaning">
        <span class="pointer" (click)="editorOpen('v.bazis')">в. базис</span>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #colorpicker>
  <ng-template pTemplate>
    <div class="flex">
      <div class="label pointer red" (click)="pickColor('red')"></div>
      <div class="label pointer blue" (click)="pickColor('blue')"></div>
      <div class="label pointer yellow" (click)="pickColor('yellow')"></div>
      <div class="label pointer magenta" (click)="pickColor('magenta')"></div>
      <div class="label pointer cyan" (click)="pickColor('cyan')"></div>
      <div class="label pointer green" (click)="pickColor('green')"></div>
      <div class="label pointer white center" (click)="pickColor('white')">X</div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #reference>
  <ng-template pTemplate>
    {{ referencePreview }}<br/>
    {{ referenceSubcorpus }}
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #reference2>
  <ng-template pTemplate>
    {{ referencePreview }}<br/>
    {{ referenceSubcorpus }}<br/>
    <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger"></button>
  </ng-template>
</p-overlayPanel>

<p-dialog header="Уреди текст" [(visible)]="editorVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false">
  <div class="p-inputgroup">
    <textarea [rows]="4" [(ngModel)]="editorText" class="w-full"></textarea>
  </div>
  <div class="flex align-items-center justify-content-end mt-3">
    <button (click)="editorSave()" pButton pRipple type="button" icon="pi pi-check" label="Сачувај" class="p-button-success mr-2"></button>
    <button (click)="editorCancel()" pButton pRipple type="button" icon="pi pi-times" label="Откажи" class="p-button-danger"></button>
</div>
</p-dialog>

<div class="progress" *ngIf="searching">
  <p-progressSpinner></p-progressSpinner>
</div>
