<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="title">{{title}}</span>
  </div>
  <div class="p-toolbar-group-right">
    <!-- <p-button icon="pi pi-undo" styleClass="p-button-secondary" class="ml-2" [disabled]="!undoAvailable()" (click)="undo()"></p-button>
    <p-button icon="pi pi-refresh" styleClass="p-button-secondary" class="ml-1" [disabled]="!redoAvailable()" (click)="redo()"></p-button>
    <p-button (click)="delete()" styleClass="p-button-danger" icon="pi pi-times" class="ml-2"></p-button>
    <p-button label="Преглед" (onClick)="preview()" styleClass="p-button-secondary" icon="pi pi-search" class="ml-2"></p-button> -->
    <p-button label="Сачувај" (onClick)="save()" icon="pi pi-save" class="ml-2"></p-button>
    <!-- <p-menu #workflowMenu [model]="workflowItems" [popup]="true" appendTo="body"></p-menu>
    <p-button label="Процес" (onClick)="workflowMenu.toggle($event)" [disabled]="workflowDisabled()" styleClass="p-button-success" icon="pi pi-angle-double-right" class="ml-2"></p-button> -->
  </div>
</p-toolbar>
