.container {
  margin: 10px 10px 10px;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 10px;
}

.actions {
  margin-top: 10px;
  width: max-content;
}

.action, .option {
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    background: aliceblue !important;
  }
}

.links {
  margin-top: 10px;
}

.word {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.selected-word {
  font-weight: bold;
}

.save-message {
  position:absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 5px;
}