<div class="container" id="para-container">
  <h2 [innerHTML]="title"></h2>
  <div class="flex justify-content-center align-items-center" style="position:relative;">
    <button pButton pRipple icon="pi pi-arrow-left" class="p-button-lg p-button-rounded mr-3" (click)="prev()"></button>
    <h2>{{fragmentNr}}</h2>
    <button pButton pRipple icon="pi pi-arrow-right" class="p-button-lg p-button-rounded ml-3" (click)="next()"></button>
    <div class="save-message"><span id="save-message">...</span></div>
  </div>
  <p *ngFor="let para of paragraphs" [innerHTML]="para" class="tagged-text" (click)="click($event); panel.toggle($event, span)"></p>
</div>

<p-overlayPanel #panel id="panel" (onShow)="onShow()" [showCloseIcon]="false" [hideTransitionOptions]="'0ms'">
  <ng-template pTemplate>
    <div class="word">
      <strong>{{word}}</strong>
    </div>
    <div>
      <p-checkbox label="Игнориши реч" [(ngModel)]="checked" binary="true" (onChange)="check($event, checked)" [disabled]="option != ''"></p-checkbox>
    </div>
    <div class="actions" *ngIf="!checked">
      <div class="options" (click)="click($event)">
        <div class="option" (click)="selectWord($event, option.id, option.type_id)" *ngFor="let option of options; index as i">
          <span [class.selected-word]="selectedWordId === option.id">({{i + 1}}) {{option.word}} - {{option.type}}</span>
        </div>
      </div>
      <div class="links">
        <div>
          <button pButton pRipple type="button" label="Додај именицу" class="p-button-text" (click)="addLexeme(0)"></button>
        </div>
        <div>
          <button pButton pRipple type="button" label="Додај глагол" class="p-button-text" (click)="addLexeme(1)"></button>
        </div>
        <div>
          <button pButton pRipple type="button" label="Додај придев" class="p-button-text" (click)="addLexeme(2)"></button>
        </div>
        <div *ngIf="options?.length > 0">
          <button pButton pRipple type="button" label="Иди на реч" class="p-button-text" (click)="editLexeme()"
                  [disabled]="!selectedWordId"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
