.container {
  margin: 10px 10px 10px;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 10px;
}

.actions {
  margin-top: 10px;
  width: max-content;
}

.action, .option {
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    background: aliceblue !important;
  }
}

.links {
  margin-top: 10px;
}

.word {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.selected-word {
  font-weight: bold;
}