<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Преглед" (click)="preview()" styleClass="p-button-secondary" icon="pi pi-search"></p-button>
    <p-button label="Сачувај" (click)="save()" icon="pi pi-save"></p-button>
    <p-button label="Заврши обраду" styleClass="p-button-success" icon="pi pi-check"></p-button>
  </div>
</p-toolbar>
<p-dialog header="&nbsp;" [(visible)]="display" [style]="{width: '50vw'}">
  <div [innerHTML]="message"></div>
</p-dialog>
<div class="basic-information-container">
  <div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-col-7">
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label">Реч:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <div class="p-d-flex p-flex-column p-flex-lg-row">
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="wordE" placeholder="Екавица" />
            </div>
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="wordI" pInputText placeholder="Ијекавица" />
            </div>
          </div>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label">Варијанта:</p>
          <button pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button" (click)="addVariant()"></button>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <form #formRef="ngForm">
            <div *ngFor="let variant of variants; let i=index" class="col-sm-3">
              <div class="p-d-flex p-flex-column p-flex-lg-row">
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]=variants[i].nameE name="inputNameE{{i}}" pInputText placeholder="Екавица" />
                </div>
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]=variants[i].nameI name="inputNameI{{i}}" pInputText placeholder="Ијекавица" />
                </div>
                <div class="p-mb-2 p-mr-2" style="width: 200px">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-minus"
                    class="p-button-rounded p-button-outlined p-button-danger add-button"
                    (click)="removeVariant(variant)">
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label">Врста речи:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <p-dropdown [options]="wordType" [(ngModel)]="selectedWordType" optionLabel="name" (onChange)='onChange()' placeholder="Врста речи"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label">Квалификатори:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <qualificator [(selectedQualificators)]="qualificators"></qualificator>
        </div>
      </div>
    </div>
    <div class="p-col-5">
      <div class="p-d-flex">
        <div class="p-col-12 p-md-5 p-lg-4">
          <p class="label">Стање одреднице:</p>
        </div>
        <div class="p-col-12 p-md-7 p-lg-8">
          <p-dropdown [options]="state" [(ngModel)]="selectedState" optionLabel="name" placeholder="Стање одреднице"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-5 p-lg-4">
          <p class="label">Лексикограф:</p>
        </div>
        <div class="p-col-12 p-md-7 p-lg-8">
          <p>Жика</p>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-5 p-lg-4">
          <p class="label">Редактор:</p>
        </div>
        <div class="p-col-12 p-md-7 p-lg-8">
          <p>Мика</p>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-5 p-lg-4">
          <p class="label">Уредник:</p>
        </div>
        <div class="p-col-12 p-md-7 p-lg-8">
          <p>Лаза</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <p-tabView>
      <p-tabPanel header="Граматичке информације">
        <grammarInformations
          [isNoun]='isNoun'
          [isVerb]='isVerb'
          [(selectedKind)]=selectedKind
          [selectedVerbKind]=selectedVerbKind
          [selectedVerbForm]=selectedVerbForm
          [extension]=extension
          [present]=present
          [details]=details
          (selectKindChanged)="selectedKindChangedHandler($event)"
          (selectVerbKindChanged)="selectedVerbKindChangedHandler($event)"
          (selectVerbFormChanged)="selectedVerbFormChangedHandler($event)"
          (extensionChanged)="extensionChangedHandler($event)"
          (presentChanged)="presentChangedHandler($event)"
          (detailsChanged)="detailsChangedHandler($event)"
        >
        </grammarInformations>
      </p-tabPanel>
      <p-tabPanel header="Дефиниција">
        <meaning [meanings]="meanings"></meaning>
      </p-tabPanel>
      <p-tabPanel header="Изрази и фразе">
        <expressions [expressions]="expressions"></expressions>
      </p-tabPanel>
      <p-tabPanel header="Синоними">
        <synonym></synonym>
      </p-tabPanel>
      <p-tabPanel header="Антоними">
        <antonym></antonym>
      </p-tabPanel>
      <p-tabPanel header="Колокације">
        <collocations [collocations]=collocations (collocationChanged)="collocationsChangedHandler($event)"></collocations>
      </p-tabPanel>
      <p-tabPanel header="Дневник измена">
        <changesForm></changesForm>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
