<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="word-title">{{wordE}}</span>
    <span class="word-state">[{{selectedState.opis}}]</span>
  </div>
  <div class="p-toolbar-group-right">
    <p-menu #primeriMenu [model]="primeri" [popup]="true" appendTo="body"></p-menu>
    <p-button label="Примери" icon="pi pi-list" styleClass="p-button-help" (click)="primeriMenu.toggle($event)" class="p-ml-2"></p-button>
    <p-button icon="pi pi-undo" styleClass="p-button-secondary" class="p-ml-2" [disabled]="!undoAvailable()" (click)="undo()"></p-button>
    <p-button icon="pi pi-refresh" styleClass="p-button-secondary" class="p-ml-1" [disabled]="!redoAvailable()" (click)="redo()"></p-button>
    <p-button (click)="delete()" styleClass="p-button-danger" icon="pi pi-times" class="p-ml-2"></p-button>
    <p-button label="Преглед" (click)="preview()" styleClass="p-button-secondary" icon="pi pi-search" class="p-ml-2"></p-button>
    <p-button label="Сачувај" (click)="save()" icon="pi pi-save" class="p-ml-2"></p-button>
    <p-menu #workflowMenu [model]="workflowItems" [popup]="true" appendTo="body"></p-menu>
    <p-button label="Процес" (click)="workflowMenu.toggle($event)" [disabled]="!editMode" styleClass="p-button-success" icon="pi pi-angle-double-right" class="p-ml-2"></p-button>
  </div>
</p-toolbar>
<p-dialog header="&nbsp;" [(visible)]="showInfoDialog" [style]="{width: '70vw'}">
  <div [innerHTML]="message"></div>
  <div class="p-d-flex p-jc-end">
    <div><p-button label="OK" (click)="close()" styleClass="p-button-success"></p-button></div>
  </div>
</p-dialog>
<p-dialog header="Упозорење" [(visible)]="showWarningDialog" [style]="{width: '50vw'}">
  <div [innerHTML]="message"></div>
  <div class="p-d-flex p-jc-end">
    <p-button label="Да" (click)="yes()" styleClass="p-button-success" icon="pi pi-check"></p-button>
    <p-button label="Не" (click)="no()" styleClass="p-button-second ary" icon="pi pi-undo" class="p-ml-3"></p-button>
  </div>
</p-dialog>
<p-dialog header="Молимо сачекајте" [(visible)]="showWaitDialog" [style]="{width: '80vw'}" [resizable]="false" [modal]="true" [closable]="false">
  <div class="p-text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</p-dialog>
<p-dialog header="Избор акцента" [(visible)]="showAccentDialog" [style]="{width: '50vw'}" [resizable]="false" [modal]="true" [closable]="true">
  <button pButton label="{{baseChar}}̀" (click)="insertAccent('̀')" class="accent-button p-mr-3"></button>
  <button pButton label="{{baseChar}}̄" (click)="insertAccent('̄')" class="accent-button p-mr-3"></button>
  <button pButton label="{{baseChar}}̏" (click)="insertAccent('̏')" class="accent-button p-mr-3"></button>
  <button pButton label="{{baseChar}}́" (click)="insertAccent('́')" class="accent-button p-mr-3"></button>
  <button pButton label="{{baseChar}}̑" (click)="insertAccent('̑')" class="accent-button p-mr-3"></button>
  <button pButton label="&#x2205;" (click)="insertAccent('\u2205')" class="accent-button p-mr-3" *ngIf="accentModelName==='details'"></button>
</p-dialog>
<div class="basic-information-container">
  <div class="p-d-flex p-flex-column p-flex-md-row">
    <div class="p-col-5">
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Реч:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <div class="p-d-flex p-flex-column p-flex-lg-row">
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="wordE" placeholder="екавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'wordE')" style="width:150px"/>
            </div>
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="wordI" pInputText placeholder="ијекавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'wordI')" style="width:150px"/>
            </div>
            <div class="p-mb-2 p-mt-2" *ngIf="isVerb">
              <p-checkbox [binary]="true" label="(се)" [(ngModel)]="optionalSe"
                          (ngModelChange)="onValueChange($event)"
                          (focusout)="onFocusLeave()"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Наставак:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <div class="p-d-flex p-flex-column p-flex-lg-row">
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="extensionE" placeholder="екавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'extensionE')" style="width:150px"/>
            </div>
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="extensionI" pInputText placeholder="ијекавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'extensionI')" style="width:150px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-md-4 p-lg-3">
          <p class="label p-m-0">Варијанта:</p>
          <button pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button" (click)="addVariant()"></button>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <form #formRef="ngForm">
            <div *ngFor="let variant of variants; let i=index" class="col-sm-3">
              <div class="p-d-flex p-flex-column p-flex-lg-row">
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]=variants[i].nameE name="inputNameE{{i}}" pInputText placeholder="екавица"
                         (ngModelChange)="onValueChange($event)"
                         (focusout)="onFocusLeave()"
                         (keyup)="keyup($event, 'variants.nameE', i)" style="width:150px"/>
                </div>
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]=variants[i].nameI name="inputNameI{{i}}" pInputText placeholder="ијекавица"
                         (ngModelChange)="onValueChange($event)"
                         (focusout)="onFocusLeave()"
                         (keyup)="keyup($event, 'variants.nameI', i)" style="width:150px"/>
                </div>
                <div class="p-mb-2 p-mr-2" style="width: 200px">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-minus"
                    class="p-button-rounded p-button-outlined p-button-danger add-button"
                    (click)="removeVariant(variant)">
                  </button>
                </div>
              </div>
              <div class="p-d-flex p-flex-column p-flex-lg-row">
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]="variants[i].extensionE" name="inputExtesionE{{i}}" pInputText placeholder="наставак екавица"
                         (ngModelChange)="onValueChange($event)"
                         (focusout)="onFocusLeave()"
                         (keyup)="keyup($event, 'variants.extensionE', i)" style="width:150px"/>
                </div>
                <div class="p-mb-2 p-mr-2">
                  <input type="text" class="input-field" [(ngModel)]="variants[i].extensionI" name="inputExtensionI{{i}}" pInputText placeholder="наставак ијекавица"
                         (ngModelChange)="onValueChange($event)"
                         (focusout)="onFocusLeave()"
                         (keyup)="keyup($event, 'variants.extensionI', i)" style="width:150px"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="p-d-flex">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Врста речи:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <p-dropdown [options]="wordTypes" [(ngModel)]="selectedWordType" optionLabel="name" placeholder="Врста речи"
                      (onChange)="onChangeWordType()"
                      (ngModelChange)="onValueChange($event)"
                      (focusout)="onFocusLeave()"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex p-ai-start">
        <div class="p-md-4 p-lg-3">
          <p class="label p-m-0">Квалификатори:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <qualificator [(selectedQualificators)]="qualificators" (selectedQualificatorsChange)="saveChange()"></qualificator>
        </div>
      </div>

      <div class="p-d-flex p-ai-start" *ngIf="isNoun">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Род:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <p-dropdown [options]="genders" [(ngModel)]="selectedGender" placeholder="Род" optionLabel="name"
                      (ngModelChange)="onValueChange($event)"
                      (focusout)="onFocusLeave()"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex p-ai-start" *ngIf="isVerb">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Глаголски вид:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <p-dropdown [options]="verbForms" [(ngModel)]="selectedVerbForm" placeholder="Глаголски вид" optionLabel="name"
                      (ngModelChange)="onValueChange($event)"
                      (focusout)="onFocusLeave()"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex p-ai-start" *ngIf="isVerb">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Глаголски род:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <p-dropdown class="wider" [options]="verbKinds" [(ngModel)]="selectedVerbKind" optionLabel="name" placeholder="Глаголски род"
                      (ngModelChange)="onValueChange($event)"
                      (focusout)="onFocusLeave()"></p-dropdown>
        </div>
      </div>
      <div class="p-d-flex p-ai-start" *ngIf="isVerb">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Презент:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <div class="p-d-flex p-flex-column p-flex-lg-row">
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="presentE" placeholder="екавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'presentE')" style="width:150px"/>
            </div>
            <div class="p-mb-2 p-mr-2">
              <input type="text" class="input-field" pInputText [(ngModel)]="presentI" pInputText placeholder="ијекавица"
                     (ngModelChange)="onValueChange($event)"
                     (focusout)="onFocusLeave()"
                     (keyup)="keyup($event, 'presentI')" style="width:150px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="p-d-flex p-flex-column p-ml-2 p-mt-3">
        <div>
          <p class="label p-m-0">Додатне информације:</p>
        </div>
        <div>
          <textarea rows="2" cols="60" pInputTextarea [(ngModel)]="details"
                    (ngModelChange)="onValueChange($event)"
                    (focusout)="onFocusLeave()"
                    (keyup)="keyup($event, 'details')"
                    style="resize: vertical; border: 1px solid darkgray; color: #495057"></textarea>
        </div>
      </div>
      <div class="p-d-flex p-ai-start">
        <div class="p-col-12 p-md-4 p-lg-3">
          <p class="label p-m-0">Р.бр. хомонима:</p>
        </div>
        <div class="p-col-12 p-md-8 p-lg-9">
          <div class="p-mb-2 p-mr-2">
            <input type="number" class="input-field" pInputText [(ngModel)]="homonim" [size]="2"
                   (ngModelChange)="onValueChange($event)"
                   (focusout)="onFocusLeave()"/>
          </div>
        </div>
      </div>
      <div class="p-ml-2 p-mt-3">
        <textarea rows="4" cols="60" pInputTextarea [(ngModel)]="notes" (focusout)="onFocusLeave()"
                  style="resize: vertical; border: 1px solid darkgray; color: #495057;" placeholder="Напомене">

        </textarea>
      </div>
      <div class="p-ml-2 p-mt-3">
        <textarea rows="7" cols="60" pInputTextarea [(ngModel)]="freetext" (focusout)="onFocusLeave()"
                  style="resize: vertical; border: 1px solid darkgray; color: #495057;"
                  placeholder="Алтернативни опис">
        </textarea>
      </div>
    </div>
    <div class="p-col-7">
      <div class="tab-container">
        <p-tabView>
          <p-tabPanel header="Значења">
            <meaning [meanings]="meanings" (meaningsChange)="saveChange()"></meaning>
          </p-tabPanel>
          <p-tabPanel header="Значења (се)" *ngIf="def2visible()">
            <meaning [meanings]="meanings2" (meaningsChange)="saveChange()"></meaning>
          </p-tabPanel>
          <p-tabPanel header="Фразе">
            <expressions [expressions]="expressions"></expressions>
          </p-tabPanel>
          <p-tabPanel header="Синоними">
            <synonym [synonyms]="synonyms" (synonymsChange)="saveChange()"></synonym>
          </p-tabPanel>
          <p-tabPanel header="Антоними">
            <antonym [antonyms]="antonyms" (antonymsChange)="saveChange()"></antonym>
          </p-tabPanel>
          <p-tabPanel header="Колокације">
            <collocations [collocations]="collocations" (collocationsChange)="saveChange()"></collocations>
          </p-tabPanel>
          <p-tabPanel header="Дневник">
            <changesForm [changes]="changes"></changesForm>
          </p-tabPanel>
        </p-tabView>
      </div>

    </div>
  </div>
</div>
