.container {
  padding: 10px;
}

.w100 { width: 100px; }
.w150 { width: 150px; }
.w400 { width: 400px; }

hr { 
  max-width: 550px; 
  margin-left: 0;
  border: 1px solid #eee;
}

:host ::ng-deep .p-sidebar-active {
  background-color: lightyellow;
}