<p-table [value]="changes">
  <ng-template pTemplate="header">
    <tr>
      <th class="korisnik">Корисник</th>
      <th class="datum">Датум и време</th>
      <th class="operacija">Операција</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-changes>
    <tr>
      <td class="korisnik">{{changes.user.first_name}} {{changes.user.last_name}}</td>
      <td class="datum">{{changes.vreme|date:'dd.MM.YYYY. HH:mm'}}</td>
      <td class="operacija">{{changes.operacija_izmene.naziv}}</td>
      </tr>
  </ng-template>
</p-table>
