.container {
  margin: 5px;
  font-family: 'Fira Sans', sans-serif;
  padding: 0 10px 0 10px;
}

:host ::ng-deep .p-toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

.active-timeline-marker {
  border: 2px solid red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: red;
}
