<div class="input p-d-flex p-col-12">
    <div class="p-col-12 p-sm-3 p-lg-1">
        <p>Инфинитив:</p>
    </div>
    <div class="p-col-12 p-sm-9 p-lg-11">
        <input type="text" pInputText [(ngModel)]="glagol.infinitiv" (ngModelChange)="changeGlagol()"/>
        <p class="se p-col-12 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
    </div>
</div>
<div class="input p-d-flex p-col-12">
    <div class="p-col-12 p-sm-3 p-lg-1">
        <p>Вид:</p>
    </div>
    <div class="radio p-d-flex p-col-12 p-sm-9 p-lg-11">
        <div *ngFor="let vid of vidovi" class="p-field-checkbox">
            <p-radioButton [inputId]="vid.id" [value]="vid" [(ngModel)]="selectedVid" (ngModelChange)="changeGlagol()"></p-radioButton>
            <label [for]="vid.id">{{vid.name}}</label>
        </div>
    </div>
</div>
<div class="input p-d-flex p-col-12">
    <div class="p-col-12 p-sm-3 p-lg-1">
        <p>Род:</p>
    </div>
    <div class="select p-col-12 p-sm-9 p-lg-11">
        <p-dropdown *ngIf="selectedRod.name != ''" [options]="rodovi" [(ngModel)]="selectedRod" optionLabel="name" (ngModelChange)="changeGlagol()" placeholder="{{selectedRod.name}}"></p-dropdown>
        <p-dropdown *ngIf="selectedRod.name == ''" [options]="rodovi" [(ngModel)]="selectedRod" optionLabel="name" (ngModelChange)="changeGlagol()" placeholder="..."></p-dropdown>
    </div>
</div>
<div class="tab-container">
    <p-tabView (onChange)="setVreme($event)">
        <p-tabPanel header="Презент">
            <ng-template *ngTemplateOutlet="lica; context: {$implicit: glagol.oblici[0], variants: variantsHTML}"></ng-template>
        </p-tabPanel>
        <p-tabPanel header="Футур 1">
            <ng-template *ngTemplateOutlet="lica; context: {$implicit: glagol.oblici[1], variants: variantsHTML}"></ng-template>
        </p-tabPanel>
        <p-tabPanel header="Аорист">
            <ng-template *ngTemplateOutlet="lica; context: {$implicit: glagol.oblici[2], variants: variantsHTML}"></ng-template>
        </p-tabPanel>
        <p-tabPanel header="Имперфекат">
            <ng-template *ngTemplateOutlet="lica; context: {$implicit: glagol.oblici[3], variants: variantsHTML}"></ng-template>
        </p-tabPanel>
        <p-tabPanel header="Императив">
            <ng-template *ngTemplateOutlet="lica; context: {$implicit: glagol.oblici[4], variants: variantsHTML}"></ng-template>
        </p-tabPanel>
        <p-tabPanel header="РГП">
            <div class="p-d-flex p-flex-wrap p-col-8">
                <div class="p-col-6 p-sm-5 p-lg-5">
                    <p class="label broj">Једнина</p>
                    <div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Мушки род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_mj" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Женски род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_zj" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Средњи род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_sj" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                    </div>
                </div>
                <div class="p-col-6 p-sm-5 p-lg-5">
                    <p class="label broj">Множина</p>
                    <div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Мушки род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_mm" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Женски род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_zm" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                        <div class="p-d-flex p-flex-wrap input">
                            <p class="p-col-12 p-lg-4">Средњи род</p>
                            <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="glagol.rgp_sm" (ngModelChange)="changeGlagol()"/>
                            <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="ГПП">
            <div class="p-d-flex p-flex-wrap p-col-8 gp-container">
                <div class="p-d-flex p-col-12 p-flex-wrap input">
                    <p class="gp p-col-12 p-lg-4">Глаголски прилог прошли</p>
                    <input class="lice p-col-4 p-lg-4" type="text" pInputText [(ngModel)]="glagol.gpp" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="ГПС">
            <div class="p-d-flex p-flex-wrap p-col-8 gp-container">
                <div class="p-d-flex p-col-12 p-flex-wrap input">
                    <p class="gp p-col-12 p-lg-4">Глаголски прилог садашњи</p>
                    <input class="lice p-col-4 p-lg-4" type="text" pInputText [(ngModel)]="glagol.gps" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<ng-template #lica let-oblik let-vars="variants">
    <div class="p-d-flex p-flex-wrap p-col-8 lica">
        <div class="p-col-6 p-sm-5 p-lg-5">
            <p class="label broj">Једнина</p>
            <div>
                <div class="p-d-flex p-flex-wrap input" *ngIf="vreme !== 5">
                    <p class="p-col-12 p-lg-4">Прво лице</p>
                    <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="oblik.jd1" (ngModelChange)="changeGlagol()" pattern="\S(.*\S)?"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-4">Друго лице</p>
                    <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="oblik.jd2" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
                <div class="p-d-flex p-flex-wrap input" *ngIf="vreme !== 5">
                    <p class="p-col-12 p-lg-4">Треће лице</p>
                    <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="oblik.jd3" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
            </div>
        </div>
        <div class="p-col-6 p-sm-5 p-lg-5">
            <p class="label broj">Множина</p>
            <div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-4">Прво лице</p>
                    <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="oblik.mn1" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
                <div class="p-d-flex p-flex-wrap input">
                    <p class="p-col-12 p-lg-4">Друго лице</p>
                    <input class="lice p-col-4 p-lg-7" type="text" pInputText [(ngModel)]="oblik.mn2" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
                <div class="p-d-flex p-flex-wrap input" *ngIf="vreme !== 5">
                    <p class="p-col-12 p-lg-4">Треће лице</p>
                    <input class="lice p-col-12 p-lg-7" type="text" pInputText [(ngModel)]="oblik.mn3" (ngModelChange)="changeGlagol()"/>
                    <p class="p-col-1 p-lg-1" *ngIf="selectedRod.name == 'повратни'">се</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-d-flex p-flex-wrap p-col-12 variants">
        <div class="p-d-flex p-flex-wrap p-col-12">
            <div class="p-mr-2">
                <p class="label">Варијанте</p>
            </div>
            <div class="button p-mr-2">
                <button pButton class="p-button-rounded p-button-outlined add-button" (click)="addVariant()" icon="pi pi-plus"></button>
            </div>
        </div>
    </div>
    <div *ngFor = "let var of vars; index as i">
        <div class="p-d-flex p-flex-wrap p-col-8 fields" *ngIf="vars[i].vreme == vreme">
            <div class="p-d-flex p-flex-wrap var">
                <p-dropdown [options]="licaList" optionValue="value" [(ngModel)]="vars[i].lice" optionLabel="name" (ngModelChange)="changeGlagol()" placeholder="{{vars[i].lice}}"></p-dropdown>
                <input class="lice p-col-4 p-lg-4" type="text" pInputText [(ngModel)]="vars[i].value" (ngModelChange)="changeGlagol()"/>
                <p *ngIf="selectedRod.name == 'повратни'">се</p>
                <button pButton class="p-button-rounded p-button-outlined p-button-danger add-button" (click)="removeVariant(vars[i])" icon="pi pi-minus"></button>
            </div>
        </div>
    </div>
</ng-template>
