<p-dialog header="Унос наводника" [(visible)]="showQuotesDialog" [style]="{width: '80vw'}" [resizable]="false" [modal]="true" [closable]="true">
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('„')">„</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('”')">”</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('’')">’</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('[')">[</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote(']')">]</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('~')">~</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('–')">–</span>
</p-dialog>
<div>
  <button
    pButton
    icon="pi pi-plus"
    class="p-button-rounded p-button-raised p-mb-2"
    (click)="add()">
  </button>
</div>
<form #formRef="ngForm">
  <div *ngFor="let concordance of concordances; let i=index" class="sm:col-3">
    <div class="flex flex-column mb-2">
      <div class="flex">
        <div class="mr-2">
          <textarea rows="2" cols="20" pInputTextarea style="resize:vertical" [(ngModel)]="concordances[i].concordance" name="cname{{i}}" placeholder="конкорданца"
                    (ngModelChange)="onValueChange($event)"
                    (focusout)="onFocusLeave()"
                    (keyup)="keyup($event, i)"></textarea>
        </div>
        <div class="flex flex-column" style="width:250px;">
          <div class="mb-2">
            <p-autoComplete [(ngModel)]="concordances[i].searchText" name="book{{i}}" [suggestions]="searchResults" (completeMethod)="search($event)" scrollHeight="300px" (onSelect)="select($event, i)" placeholder="Претрага извора" class="search-pub">
              <ng-template let-pub pTemplate="item">
                <span class="skracenica">{{pub.skracenica}}</span>
                <span class="naslov">{{pub.naslov}}</span>
              </ng-template>
            </p-autoComplete>
            <p-button *ngIf="concordances[i].bookId" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" (click)="removePub(concordances[i])" class="ml-2"></p-button>
          </div>
          <div class="naslov">
            <span *ngIf="concordances[i].skracenica$ | async as skr">{{skr}}: </span> <span *ngIf="concordances[i].naslov$ | async as naslov">{{naslov}}</span>
          </div>
        </div>
        <div class="mr-2">
          <button
          pButton
          pRipple
          type="button"
          icon="pi pi-minus"
          class="p-button-rounded p-button-outlined p-button-danger add-button"
          (click)="remove(concordance)">
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
