.long-input {
  width: 300px;
}

.accent-button {
  font-size: 80px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}

:host ::ng-deep .p-dialog-content {
  padding-top: 2rem !important;
}

div.naslov {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-pub {
  ::ng-deep .p-inputtext {
    border-radius: 50px;
  }
  width: 150px;
  .skracenica {
    float: left;
  }
  .naslov {
    float: left;
    margin-left: 10px;
  }
}

