<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Додај" (click)="add()" icon="pi pi-plus" class="p-ml-2"></p-button>
  </div>
</p-toolbar>
<p-dialog header="Упозорење" [(visible)]="showDeleteWarningDialog" [style]="{width: '50vw'}">
  <div [innerHTML]="message"></div>
  <div class="p-d-flex p-jc-end">
    <p-button label="Да" (click)="deleteYes()" styleClass="p-button-danger" icon="pi pi-times"></p-button>
    <p-button label="Не" (click)="deleteNo()" styleClass="p-button-secondary" icon="pi pi-undo" class="p-ml-3"></p-button>
  </div>
</p-dialog>
<div class="container">
    <h3>Публикације</h3>
    <p-table [value]="publikacije" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
<!--                <th class="pubid">ID</th>-->
                <th class="skracenica">Скраћеница</th>
                <th class="opis">Опис</th>
                <th class="operacije">Операције</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pub>
            <tr>
<!--                <td>{{pub.id}}</td>-->
                <td>{{pub.skracenica}}</td>
                <td [innerHTML]="opis(pub)"></td>
                <td>
                  <span class="pi pi-pencil pointer p-mr-3" (click)="edit(pub)"></span>
                  <span class="pi pi-times pointer" (click)="delete(pub)"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

