.container {
  padding: 10px;
}

.tableform {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      padding: 2px 5px;
    }
  }
}

:host ::ng-deep .p-fieldset-legend {
  background-color: white;
  border: none;
}
