<toolbar (saveClicked)="save()" [saveAvailable]="saveAvailable()"></toolbar>
<div class="container">
  <h3>Придев</h3>
  <p-tabView>
    <p-tabPanel header="Одређени вид">
      <p-fieldset legend="Мушки род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="mnomjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mnomjed" #tekst></div>
            <div class="cell"><input id="mnommno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mnommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="mgenjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mgenjed"></div>
            <div class="cell"><input id="mgenmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="mdatjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mdatjed"></div>
            <div class="cell"><input id="mdatmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="makujed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].makujed"></div>
            <div class="cell"><input id="makumno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].makumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="mvokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mvokjed"></div>
            <div class="cell"><input id="mvokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="minsjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].minsjed"></div>
            <div class="cell"><input id="minsmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].minsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="mlokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mlokjed"></div>
            <div class="cell"><input id="mlokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].mlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Женски род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="znomjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].znomjed"></div>
            <div class="cell"><input id="znommno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].znommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="zgenjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zgenjed"></div>
            <div class="cell"><input id="zgenmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="zdatjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zdatjed"></div>
            <div class="cell"><input id="zdatmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="zakujed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zakujed"></div>
            <div class="cell"><input id="zakumno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="zvokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zvokjed"></div>
            <div class="cell"><input id="zvokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="zinsjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zinsjed"></div>
            <div class="cell"><input id="zinsmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="zlokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zlokjed"></div>
            <div class="cell"><input id="zlokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].zlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Средњи род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="snomjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].snomjed"></div>
            <div class="cell"><input id="snommno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].snommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="sgenjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sgenjed"></div>
            <div class="cell"><input id="sgenmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="sdatjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sdatjed"></div>
            <div class="cell"><input id="sdatmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="sakujed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sakujed"></div>
            <div class="cell"><input id="sakumno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="svokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].svokjed"></div>
            <div class="cell"><input id="svokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].svokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="sinsjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sinsjed"></div>
            <div class="cell"><input id="sinsmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].sinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="slokjed1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].slokjed"></div>
            <div class="cell"><input id="slokmno1" type="text" pInputText [(ngModel)]="pridev.vidovi[0].slokmno"></div>
          </div>
        </div>
      </p-fieldset>
    </p-tabPanel>

    <p-tabPanel header="Неодређени вид">
      <p-fieldset legend="Мушки род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="mnomjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mnomjed"></div>
            <div class="cell"><input id="mnommno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mnommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="mgenjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mgenjed"></div>
            <div class="cell"><input id="mgenmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="mdatjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mdatjed"></div>
            <div class="cell"><input id="mdatmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="makujed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].makujed"></div>
            <div class="cell"><input id="makumno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].makumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="mvokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mvokjed"></div>
            <div class="cell"><input id="mvokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="minsjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].minsjed"></div>
            <div class="cell"><input id="minsmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].minsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="mlokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mlokjed"></div>
            <div class="cell"><input id="mlokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].mlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Женски род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="znomjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].znomjed"></div>
            <div class="cell"><input id="znommno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].znommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="zgenjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zgenjed"></div>
            <div class="cell"><input id="zgenmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="zdatjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zdatjed"></div>
            <div class="cell"><input id="zdatmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="zakujed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zakujed"></div>
            <div class="cell"><input id="zakumno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="zvokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zvokjed"></div>
            <div class="cell"><input id="zvokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="zinsjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zinsjed"></div>
            <div class="cell"><input id="zinsmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="zlokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zlokjed"></div>
            <div class="cell"><input id="zlokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].zlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Средњи род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="snomjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].snomjed"></div>
            <div class="cell"><input id="snommno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].snommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="sgenjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sgenjed"></div>
            <div class="cell"><input id="sgenmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="sdatjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sdatjed"></div>
            <div class="cell"><input id="sdatmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="sakujed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sakujed"></div>
            <div class="cell"><input id="sakumno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="svokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].svokjed"></div>
            <div class="cell"><input id="svokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].svokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="sinsjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sinsjed"></div>
            <div class="cell"><input id="sinsmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].sinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="slokjed2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].slokjed"></div>
            <div class="cell"><input id="slokmno2" type="text" pInputText [(ngModel)]="pridev.vidovi[1].slokmno"></div>
          </div>
        </div>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Компаратив">
      <p-fieldset legend="Мушки род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="mnomjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mnomjed"></div>
            <div class="cell"><input id="mnommno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mnommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="mgenjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mgenjed"></div>
            <div class="cell"><input id="mgenmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="mdatjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mdatjed"></div>
            <div class="cell"><input id="mdatmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="makujed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].makujed"></div>
            <div class="cell"><input id="makumno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].makumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="mvokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mvokjed"></div>
            <div class="cell"><input id="mvokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="minsjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].minsjed"></div>
            <div class="cell"><input id="minsmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].minsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="mlokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mlokjed"></div>
            <div class="cell"><input id="mlokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].mlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Женски род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="znomjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].znomjed"></div>
            <div class="cell"><input id="znommno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].znommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="zgenjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zgenjed"></div>
            <div class="cell"><input id="zgenmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="zdatjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zdatjed"></div>
            <div class="cell"><input id="zdatmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="zakujed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zakujed"></div>
            <div class="cell"><input id="zakumno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="zvokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zvokjed"></div>
            <div class="cell"><input id="zvokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="zinsjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zinsjed"></div>
            <div class="cell"><input id="zinsmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="zlokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zlokjed"></div>
            <div class="cell"><input id="zlokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].zlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Средњи род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="snomjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].snomjed"></div>
            <div class="cell"><input id="snommno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].snommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="sgenjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sgenjed"></div>
            <div class="cell"><input id="sgenmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="sdatjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sdatjed"></div>
            <div class="cell"><input id="sdatmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="sakujed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sakujed"></div>
            <div class="cell"><input id="sakumno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="svokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].svokjed"></div>
            <div class="cell"><input id="svokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].svokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="sinsjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sinsjed"></div>
            <div class="cell"><input id="sinsmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].sinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="slokjed3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].slokjed"></div>
            <div class="cell"><input id="slokmno3" type="text" pInputText [(ngModel)]="pridev.vidovi[2].slokmno"></div>
          </div>
        </div>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Суперлатив">
      <p-fieldset legend="Мушки род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="mnomjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mnomjed"></div>
            <div class="cell"><input id="mnommno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mnommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="mgenjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mgenjed"></div>
            <div class="cell"><input id="mgenmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="mdatjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mdatjed"></div>
            <div class="cell"><input id="mdatmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="makujed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].makujed"></div>
            <div class="cell"><input id="makumno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].makumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="mvokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mvokjed"></div>
            <div class="cell"><input id="mvokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="minsjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].minsjed"></div>
            <div class="cell"><input id="minsmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].minsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="mlokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mlokjed"></div>
            <div class="cell"><input id="mlokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].mlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Женски род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="znomjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].znomjed"></div>
            <div class="cell"><input id="znommno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].znommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="zgenjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zgenjed"></div>
            <div class="cell"><input id="zgenmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="zdatjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zdatjed"></div>
            <div class="cell"><input id="zdatmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="zakujed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zakujed"></div>
            <div class="cell"><input id="zakumno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="zvokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zvokjed"></div>
            <div class="cell"><input id="zvokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zvokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="zinsjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zinsjed"></div>
            <div class="cell"><input id="zinsmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="zlokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zlokjed"></div>
            <div class="cell"><input id="zlokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].zlokmno"></div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Средњи род">
        <div class="tableform">
          <div class="row">
            <div class="cell"></div>
            <div class="cell">Једнина</div>
            <div class="cell">Множина</div>
          </div>
          <div class="row">
            <div class="cell">Номинатив</div>
            <div class="cell"><input id="snomjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].snomjed"></div>
            <div class="cell"><input id="snommno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].snommno"></div>
          </div>
          <div class="row">
            <div class="cell">Генитив</div>
            <div class="cell"><input id="sgenjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sgenjed"></div>
            <div class="cell"><input id="sgenmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sgenmno"></div>
          </div>
          <div class="row">
            <div class="cell">Датив</div>
            <div class="cell"><input id="sdatjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sdatjed"></div>
            <div class="cell"><input id="sdatmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sdatmno"></div>
          </div>
          <div class="row">
            <div class="cell">Акузатив</div>
            <div class="cell"><input id="sakujed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sakujed"></div>
            <div class="cell"><input id="sakumno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sakumno"></div>
          </div>
          <div class="row">
            <div class="cell">Вокатив</div>
            <div class="cell"><input id="svokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].svokjed"></div>
            <div class="cell"><input id="svokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].svokmno"></div>
          </div>
          <div class="row">
            <div class="cell">Инструментал</div>
            <div class="cell"><input id="sinsjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sinsjed"></div>
            <div class="cell"><input id="sinsmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].sinsmno"></div>
          </div>
          <div class="row">
            <div class="cell">Локатив</div>
            <div class="cell"><input id="slokjed4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].slokjed"></div>
            <div class="cell"><input id="slokmno4" type="text" pInputText [(ngModel)]="pridev.vidovi[3].slokmno"></div>
          </div>
        </div>
      </p-fieldset>
    </p-tabPanel>
  </p-tabView>
</div>