.container {
  padding: 10px;
}

.tableform {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      padding: 2px 5px;
    }
  }
}

:host ::ng-deep .p-fieldset-legend {
  background-color: white;
  border: none;
}

.w50  { width: 50px;  }
.w75  { width: 75px;  }
.w100 { width: 100px; }
.w125 { width: 125px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w175 { width: 175px; }
.w200 { width: 200px; }
.w225 { width: 225px; }
.w250 { width: 250px; }
.w275 { width: 275px; }
.w300 { width: 300px; }
.w950 { width: 950px; }
.w1250 { width: 1250px; }

.center { text-align: center; }

.m3 { margin-top: 3px; margin-bottom: 3px; }
.m6 { margin-top: 6px; margin-bottom: 6px; }

.fab {
  z-index: 100;
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  width: 40px !important;
  height: 40px !important;
}
