<p-dialog header="Унос наводника" [(visible)]="showQuotesDialog" [style]="{width: '80vw'}" [resizable]="false" [modal]="true" [closable]="true">
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('„')">„</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('”')">”</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('’')">’</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('[')">[</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote(']')">]</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('~')">~</span>
  <span class="accent-button mr-3 mb-2" (click)="insertQuote('–')">–</span>
</p-dialog>

<div>
  <button
    pButton
    icon="pi pi-plus"
    class="p-button-rounded p-button-raised mb-2"
    (click)="add()">
  </button>
</div>
<form #formRef="ngForm">
  <div *ngFor="let expression of expressions; let i=index" style="position: relative">
    <p-tabView>
      <p-tabPanel header="Ф{{i + 1}}">
        <div class="flex flex-column">
          <div class="mb-2">
            <input type="text" pInputText [(ngModel)]="expressions[i].tekst" class="long-input" name="tekst{{i}}" placeholder="Текст фразе"
                   (ngModelChange)="onValueChange($event)"
                   (focusout)="onFocusLeave()"
                   (keyup)="keyup($event, i, false)"/>
          </div>
          <div class="mb-2">
            <textarea rows="2" cols="50" pInputTextarea style="resize:vertical" [(ngModel)]="expressions[i].value" name="name{{i}}" #name="ngModel" placeholder="Опис фразе"
                      (ngModelChange)="onValueChange($event)"
                      (focusout)="onFocusLeave()"
                      (keyup)="keyup($event, i, true)"></textarea>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Одредница">
        <div class="flex align-items-center">
          <div class="mr-2">
            <p-autoComplete
              [(ngModel)]="expressions[i].searchText"
              [suggestions]="searchResults"
              (completeMethod)="search($event)"
              (onSelect)="select($event, i)"
              placeholder="Претрага одреднице"
              name="selectedDeterminant{{i}}"
              scrollHeight="300px"
              [minLength]="1"
              class="search-component">
              <ng-template let-word pTemplate="item">
                <span class="rec">{{word.rec}}</span>
                <span class="vrsta">{{word.vrsta_text}}</span>
              </ng-template>
            </p-autoComplete>
          </div>
          <p-tag *ngIf="expressions[i].rec$ | async as rec" value="{{rec}}"></p-tag>
          <p-button *ngIf="expressions[i].determinantId" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" (click)="removeDeterminant(expressions[i])" class="p-ml-2"></p-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Квалификатори">
        <qualificator [(selectedQualificators)]="expressions[i].qualificators" (selectedQualificatorsChange)="onChange()"></qualificator>
      </p-tabPanel>
      <p-tabPanel header="Конкорданце">
        <concordance [concordances]="expressions[i].concordances" (concordancesChange)="onChange()"></concordance>
      </p-tabPanel>
    </p-tabView>
    <div class="flex mgmt-buttons">
      <div class="mr-2">
        <button
          pButton
          pRipple
          type="button"
          style="margin-top: 10px"
          icon="pi pi-arrow-up"
          class="p-button-rounded p-button-outlined smaller-button"
          (click)="moveExpressionUp(i)"
          [disabled]="i === 0">
        </button>
      </div>
      <div class="mr-2">
        <button
          pButton
          pRipple
          type="button"
          style="margin-top: 10px"
          icon="pi pi-arrow-down"
          class="p-button-rounded p-button-outlined smaller-button"
          (click)="moveExpressionDown(i)"
          [disabled]="i === expressions.length-1">
        </button>
      </div>
      <div class="mr-2">
        <button
          pButton
          pRipple
          type="button"
          style="margin-top: 10px"
          icon="pi pi-minus"
          class="p-button-rounded p-button-outlined p-button-danger smaller-button"
          (click)="remove(expression)">
        </button>
      </div>
    </div>
  </div>
</form>
