.long-input {
  width: 300px;
}

.accent-button {
  font-size: 80px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}

:host ::ng-deep .p-dialog-content {
  padding-top: 2rem !important;
}

.search-component {
  .rec {
    float: left;
  }
  .vrsta {
    float: right;
  }
}

::ng-deep .p-tag-value {
  font-size: 14px;
}

.mgmt-buttons {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
