.long-input {
  width: 300px;
}

.accent-button {
  font-size: 80px;
}

.search-component {
  .rec {
    float: left;
  }
  .vrsta {
    float: right;
  }
}

::ng-deep .p-tag-value {
  font-size: 14px;
}

.mgmt-buttons {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
