.container {
  margin: 5px;
  font-family: 'Fira Sans', sans-serif;
  padding: 0 10px 0 10px;
}

:host ::ng-deep .p-toolbar {
  //position: fixed;
  //width: 100%;
  //background-color: #f8f9fa;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

.w50 {
  max-width: 50px;
}
.w100 {
  max-width: 100px;
}
.wauto {
  min-width: 50% !important;
}

.active-timeline-marker {
  border: 2px solid red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: red;
}