<div class="flex flex-row">
  <div class="flex mr-3">
    <p-orderList [value]="pubFiles" [(selection)]="selectedPubFile">
      <ng-template pTemplate="item" let-pubfile>
        <div pDraggable="fileitem">{{pubfile.filename}}</div>
      </ng-template>
    </p-orderList>
  </div>
  <div class="flex flex-grow-1">
    <p-fileUpload #fileUpload
        name="pubfiles[]"
        chooseLabel="Изабери"
        uploadLabel="Пошаљи"
        cancelLabel="Откажи"
        multiple="true"
        [style]="{'width': '700px'}"
        customUpload="true"
        (uploadHandler)="uploadHandler($event)">
      <ng-template pTemplate="file" let-upload let-i="index" let-c="count">
        <div class="p-fileupload-row">
          <div class="p-fileupload-filename">{{upload.name}}</div>
          <div class="w100">{{formatSize(upload.size)}}</div>
          <div class="w50">
            <button type="button" icon="pi pi-times" pButton (click)="remove($event,i)" [disabled]="fileUpload.uploading"></button>
          </div>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
<div class="ml-3">
  <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="delete()"></button>
</div>
