<div class="container">
  <div class="flex flex-wrap">
    <div class="col-12">
      <p-button label="Сачувај" (click)="save()" icon="pi pi-save" styleClass="p-button-success"></p-button>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label m-0">Скраћеница:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.skracenica" size="20"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Врста:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <p-dropdown [options]="pubTypes" [(ngModel)]="pub.vrsta" optionLabel="naziv" [style]="{'width':'400px'}"></p-dropdown>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Наслов:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.naslov" size="100"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Аутори:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <p-table #authorTable [value]="pub.autori" dataKey="index" editMode="row" [style]="{'width': '800px'}">
        <ng-template pTemplate="header" let-editing="editing" >
          <tr>
            <th>Презиме</th>
            <th>Име</th>
            <th style="width:6rem"><button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-plus" (click)="onAddRow()" class="p-button-rounded p-button-text"></button></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-autor let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="autor">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="autor.prezime" placeholder="Презиме"/>
                </ng-template>
                <ng-template pTemplate="output">
                  {{autor.prezime}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="autor.ime" placeholder="Име"/>
                </ng-template>
                <ng-template pTemplate="output">
                  {{autor.ime}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(autor)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-times" (click)="onDeleteRow(ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(autor)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-refresh" (click)="onRowEditCancel(autor, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Издање/серија:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.naslov_izdanja" size="100"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Издавач:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.izdavac" size="50"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Година:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.godina" size="10"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">ISBN:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.isbn" size="15"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">ISSN:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.issn" size="10"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">Волумен:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.volumen" size="10"/>
    </div>
    <div class="col-12 md:col-2 lg:col-1">
      <p class="label p-m-0">URL:</p>
    </div>
    <div class="col-12 md:col-10 lg:col-11">
      <input type="text" class="input-field" pInputText [(ngModel)]="pub.url" size="100"/>
    </div>
  </div>
</div>
