<div class="p-d-flex">
  <div class="p-mr-2">
    <p-listbox [options]="allQualificators"
      [(ngModel)]="selectedLeft"
      [checkbox]="false" optionLabel="abbreviation"
      [multiple]="false" [filter]="true"
      [listStyle]="{'max-height':'150px'}"
      [style]="{'width':'145px'}"
      filterPlaceHolder="Претражи"
      (onChange)="selectLeftQualificator()"
      (keyup)="handleEnter($event)">
      <ng-template let-qualificator pTemplate="item">
        <div style="width: 100%">
          <div pTooltip="{{qualificator.name}}">{{qualificator.abbreviation}}</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="p-mr-2">
    <button pButton icon="pi pi-arrow-right" class="p-button-outlined p-button-rounded" (click)="moveRight()"></button>
    <br/><br/>
    <button pButton icon="pi pi-arrow-left" class="p-button-outlined p-button-rounded" (click)="moveLeft()"></button>
  </div>
  <div class="p-mr-2">
    <p-listbox [options]="selectedQualificators"
      [(ngModel)]="selectedRight"
      [checkbox]="false" optionLabel="name"
      [multiple]="false" [filter]="false"
      [listStyle]="{'max-height':'150px'}"
      [style]="{'width':'145px'}"
      (onChange)="selectRightQualificator()">
      <ng-template let-qualificator pTemplate="item">
        <div style="width: 100%">
          <div pTooltip="{{qualificator.name}}">{{qualificator.abbreviation}}</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="p-mr-2">
    <button pButton icon="pi pi-arrow-up" class="p-button-outlined p-button-rounded" (click)="moveUp()"></button>
    <br/><br/>
    <button pButton icon="pi pi-arrow-down" class="p-button-outlined p-button-rounded" (click)="moveDown()"></button>
  </div>
</div>
