<p-menubar>
  <div class="logo-container">
    <p class="logo-text"><a [routerLink]="['/']">Корпус српског језика</a></p>
  </div>
  <div class="search-container">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="search" class="search-component" pInputText placeholder="Претрага">
    </span>
    <button *ngIf="signedIn()" pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button" [routerLink]="['/add']" disabled></button>
  </div>
  <div class="menu-container">
    <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"></p-tieredMenu>
    <button #btn type="button" class="p-button-rounded p-button-outlined menu-button" pButton icon="pi pi-user" (click)="menu.toggle($event)"></button>
  </div>
</p-menubar>
<router-outlet></router-outlet>
<p-toast></p-toast>
