<div class="container">
    <h3>Генерисани документи</h3>
    <p-table [value]="renders" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th class="vreme">Време</th>
                <th class="tip">Тип документа</th>
                <th class="opis">Опис</th>
                <th class="fajl">Фајл</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-render>
            <tr>
                <td>{{render.vreme_rendera|date:'dd.MM.yyyy. HH:mm:ss'}}</td>
                <td>{{render.tip_dokumenta.naziv}}</td>
                <td>{{render.opis}}</td>
                <td><span class="pi pi-download pointer" (click)="download(render)"></span></td>
            </tr>
        </ng-template>
    </p-table>
</div>
