.container {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Fira Sans';
}

.vreme { width: 200px; }
.tip { width: 200px; }
.fajl { width: 100px; }
.pointer { cursor: pointer; }
