html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin:0;
  padding:0;
}

.add-button {
  width: 30px !important;
  height: 30px !important;
}

.p-col-12 {
  margin-top: auto;
  margin-bottom: auto;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #495057;
}
