html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 11pt;
}

body {
  margin:0;
  padding:0;
  font-feature-settings: "kern";
}

.add-button {
  width: 30px !important;
  height: 30px !important;
}

.p-col-12 {
  margin-top: auto;
  margin-bottom: auto;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", "Lucida Sans Unicode", OrtoRNIDS, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #495057;
}

.center-container {
  margin-top: auto;
  margin-bottom: auto;
}

.p-component {
  font-family: "Fira Sans";
}

.p-inputtext {
  font-family: "Fira Sans";
  min-height: 40px !important;
}

.p-tooltip {
  font-family: "Fira Sans";
}

textarea {
  font-family: "Fira Sans";
}

.p-checkbox-label {
  font-family: "Fira Sans";
}

.p-dropdown {
  width: 200px;
}

.search-component .p-inputtext {
  border-radius: 50px;
  width: 300px;
}

@font-face {
    font-family: 'Dijakritika';
    src: url('/assets/fonts/Dijakritika-Regular.woff2') format('woff2'),
	       url('/assets/fonts/Dijakritika-Regular.otf') format('opentype'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Dijakritika';
    src: url('/assets/fonts/Dijakritika-Bold.woff2') format('woff2'),
	       url('/assets/fonts/Dijakritika-Bold.otf') format('opentype'); /* Modern Browsers */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Dijakritika';
    src: url('/assets/fonts/Dijakritika-Italic.woff2') format('woff2'),
         url('/assets/fonts/Dijakritika-Italic.otf') format('opentype'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('/assets/fonts/Lucida-Sans-Unicode.woff2') format('woff2'),
         url('/assets/fonts/Lucida-Sans-Unicode.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OrtoRNIDS';
    src: url('/assets/fonts/OrtoRNIDS-Regular.woff2') format('woff2'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OrtoRNIDS';
    src: url('/assets/fonts/OrtoRNIDS-Italic.woff2') format('woff2'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OrtoRNIDS';
    src: url('/assets/fonts/OrtoRNIDS-Bold.woff2') format('woff2'); /* Modern Browsers */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OrtoRNIDS';
    src: url('/assets/fonts/OrtoRNIDS-BoldItalic.woff2') format('woff2'); /* Modern Browsers */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/assets/fonts/FiraSansCondensed-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/assets/fonts/FiraSansCondensed-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('/assets/fonts/FiraSansCondensed-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


.onum {font-feature-settings: "onum";}  /* oldstyle numerals */
.tnum {font-feature-settings: "tnum";}  /* tabular numerals */
.frac {font-feature-settings: "frac";}  /* fractions */

div.odrednica {
  font-family: "Dijakritika", serif;
  font-feature-settings: "kern";
  margin-bottom: 10px;
  text-indent: -10px;
}

app-rendered-odrednice div.odrednica {
  cursor: pointer;
}

app-rendered-odrednice div.odrednica:hover {
  background-color: #e6edf3;
}

.red {
  color: darkred;
}
