@font-face {
    font-family: 'Dijakritika';
    src: url("fonts/Dijakritika-Regular.woff2") format('woff2'),
         url("fonts/Dijakritika-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
    /* text-rendering: optimizeLegibility; */
}
@font-face {
    font-family: 'Dijakritika';
    src: url("fonts/Dijakritika-Bold.woff2") format('woff2'),
         url("fonts/Dijakritika-Bold.otf") format('opentype');
    font-style: normal;
    font-weight: bold;
    /* text-rendering: optimizeLegibility; */
}
@font-face {
    font-family: 'Dijakritika';
    src: url("fonts/Dijakritika-Italic.woff2") format('woff2'),
         url("fonts/Dijakritika-Italic.otf") format('opentype');
    font-style: italic;
    font-weight: normal;
    /* text-rendering: optimizeLegibility; */
}
/*
types {
    font/woff2  woff2;
}
*/
@page {
    size: a4 portrait;
    margin: 10mm;
}
body{
    font-family: "Dijakritika", serif;
    font-feature-settings: "mark";
    font-feature-settings: "mkmk";
    font-feature-settings: "kern";
    font-feature-settings: "locl";
}
.onum {font-feature-settings: "onum";}  /* oldstyle numerals */
.tnum {font-feature-settings: "tnum";}  /* tabular numerals */
.frac {font-feature-settings: "frac";}  /* fractions */
.odrednica {
    margin-bottom: 6px;
    text-indent: -10px;
    text-align: justify;
}
@media print {
    .slovo-spacer {
        margin-bottom: 120px;
        break-before: right;
    }
    .slovo {
        font-size: 36pt;
        text-align: center;
        margin-bottom: 30px;
    }
    .odrednice {
        line-height: 110%;
        font-size: 9pt;
        column-count: 2;
        column-gap: 2em;
    }
    @page:right{
        font-family: "Dijakritika", serif;
        @bottom-left {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: "Подножје странице";
            font-size: 9pt;
            color: #333;
        }
        @bottom-right {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
        @top-right {
            content:  "Заглавље странице";
            margin: 30pt 0 10pt 0;
            font-size: 9pt;
            color: #333;
        }
    }
    @page:left {
        font-family: "Dijakritika", serif;
        @bottom-right {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: "Подножје странице";
            font-size: 9pt;
            color: #333;
        }
        @bottom-left {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
    }
}
