@font-face {
    font-family: 'Dijakritika';
    src: url("../render/static/fonts/Dijakritika-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("../render/static/fonts/Dijakritika-Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("../render/static/fonts/Dijakritika-Italic.otf");
    font-style: italic;
    font-weight: normal;
}

@page {
    /* B5 ISO size is 176mm x 250mm */
    /* size: 176mm 250mm; */
    size: b5 portrait; /* This is a Prince-specific size declaration */
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
}

/* Left pages - right margin is the inside margin */
@page:left {
    margin-left: 1.5cm;  /* outside margin */
    margin-right: 2cm;   /* inside margin */
}

/* Right pages - left margin is the inside margin */
@page:right {
    margin-left: 2cm;    /* inside margin */
    margin-right: 1.5cm; /* outside margin */
}

@page :blank {
    @top-center { content: none; }
    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-center { content: none; }
    @bottom-left { content: none; }
    @bottom-right { content: none; }
}

@page title-page, impresum-page {
    margin-left: 2cm;
    margin-right: 1.5cm;
    @top-center {
        content: none;
    }
    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}

@page predgovor-page { @top-center { content: none; } }
@page skracenice-page { @top-center { content: none; } }
@page izvori-page { @top-center { content: none; } }

@page predgovor-page:right, skracenice-page:right, izvori-page:right {
    margin-left: 2cm;    /* inside margin */
    margin-right: 1.5cm; /* outside margin */
    @bottom-right {
        font-family: "Dijakritika", serif;
        content: counter(page);
        font-size: 9pt;
    }
    @footnote {
        border-top: solid grey 1px;
        border-clip: 5em;
        padding-top: 8pt;
    }
}
@page predgovor-page:left, skracenice-page:left, izvori-page:left {
    margin-left: 1.5cm;  /* outside margin */
    margin-right: 2cm;   /* inside margin */
    @bottom-left {
        font-family: "Dijakritika", serif;
        content: counter(page);
        font-size: 9pt;
    }
    @footnote {
        border-top: solid grey 1px;
        border-clip: 5em;
        padding-top: 8pt;
    }
}
@page predgovor-page:blank, skracenice-page:blank, izvori-page:blank {
    @top-center { content: none; }
    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-center { content: none; }
    @bottom-left { content: none; }
    @bottom-right { content: none; }
}

@page slovo-page {
    @top-center {
        font-family: "Dijakritika", serif;
        content: string(heading, first) " — " string(heading, last);
        text-transform: uppercase;
        font-size: 9pt;
    }
}
@page slovo-page:right {
    margin-left: 2cm;    /* inside margin */
    margin-right: 1.5cm; /* outside margin */
    @bottom-right {
        font-family: "Dijakritika", serif;
        content: counter(page);
        font-size: 9pt;
    }
}
@page slovo-page:left {
    margin-left: 1.5cm;  /* outside margin */
    margin-right: 2cm;   /* inside margin */
    @bottom-left {
        font-family: "Dijakritika", serif;
        content: counter(page);
        font-size: 9pt;
    }
}
.title-page {
    page: title-page;
}
.impresum-page {
    page: impresum-page;
    page-break-before: right;
}
.predgovor-page {
    page: predgovor-page;
    page-break-before: right;
}
.skracenice-page {
    page: skracenice-page;
    page-break-before: right;
}
.izvori-page {
    page: izvori-page;
    page-break-before: right;
}
.slovo-block {
    page: slovo-page;
    page-break-before: always;
}

:lang(sr) { -prince-hyphenate-patterns: url("hyph-sr-cyrl.pat"); }
html { hyphens: auto; }

* {
    box-sizing: border-box;
    vertical-align: baseline;
    hyphens: auto;
}

body {
    font-family: "Dijakritika", serif;
    font-feature-settings: "mark", "mkmk", "kern", "locl";
    hyphens: auto;
}

.onum {font-feature-settings: "onum";}  /* oldstyle numerals */
.tnum {font-feature-settings: "tnum";}  /* tabular numerals */
.frac {font-feature-settings: "frac";}  /* fractions */

.odrednica {
    font-size: 9pt;
    margin-bottom: 6px;
    text-indent: -10px;
    text-align: justify;
    widows: 2;
    orphans: 2;
}

.odrednica, .odrednica * {
  line-height: 1.22 !important;
}

.odrednica-header {
    display: block;
    font-size: 0;
    string-set: heading content(text);
}

.znacenje {
    line-height: 1.22 !important;
    vertical-align: baseline;
    padding: 0 0.2em;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    width: 1.25em;       /* Slightly wider box */
    /* height: 1em;        Optional: keep height consistent */
    display: inline-block;
    text-indent: 0;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    /* width: 1.25em; */
    border-radius: 2px;
    background-color: #777;
    border: 1px solid #777;
    padding: 0;
    margin: 0;
}
.podznacenje {
    line-height: 1.22 !important;
    vertical-align: baseline;
    padding: 0 0.2em;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    width: 1.25em;       /* Slightly wider box */
    /* height: 1em;        Optional: keep height consistent */
    display: inline-block;
    text-indent: 0;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    /* width: 1.25em; */
    border-radius: 2px;
    background-color: #AAA;
    border: 1px solid #AAA;
    padding: 0px;
    margin: 0;
}
.akcent {
    font-size: 16pt;
    margin-bottom: 20pt;
    text-align: left;
}
/*
.red {
    color: darkred;
}
.green {
    color: darkgreen;
}
.blue {
    color: darkblue;
}
.wavy {
    text-decoration: underline;
    text-decoration-style: wavy;
}
.strike {
    text-decoration: line-through;
}
*/
.grey {
    color: grey;
}
.italic-underline {
    font-style: italic;
    text-decoration: underline;
}
.footnote {
    float: footnote;
    footnote-style-position: inside;
    margin-top: 10px;
    font-size: 9pt;
    /* line-height: 1.22 !important;
    margin-bottom: 10px; */
}

.slovo {
    font-size: 36pt;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.odrednice {
    page: slovo-page;
    column-count: 2;
    column-gap: 2em;
}

.skracenice {
    width: 100%;
    font-size: 9pt;
    column-count: 2;
    column-gap: 2em;
    padding-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-bottom: 4px;
}

td:nth-child(1) {
    width: 60px;
    vertical-align: top;
}

td:nth-child(1).izvor-skr {
    width: 120px;
    vertical-align: top;
}

.skracenice-title {
    font-size: 18pt;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.izvori-title {
    font-size: 18pt;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.izvori {
    font-size: 9pt;
    line-height: 1.22 !important;
}

/*POCETNA STRANA*/
.matica {
    margin-top: 80px;
    margin-bottom: 150px;
    font-size: 16pt;
}

.naslov {
    font-size: 30pt;
    line-height: 50%;
}
.podnaslov {
    font-size: 16pt;
    line-height: 50%;
}

.veca_slova {
    font-size: 40pt;
}

.info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* This centers the element horizontally */
    text-align: center;
    font-size: 14pt;
    line-height: 50%;
}

.info img {
    width: 30px;
    height: 30px;
}

.center {
    width: 80%;
    margin: auto;
    text-align: center;
}

.copyright {
    font-size: 10pt;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* This centers the element horizontally */
    text-align: center;
    width: 350px; /* Fixed width as requested */
    hyphens: none;
    /* text-wrap: pretty; */
}

.space {
    margin-top: 30px;
}

.naslov_impresum {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 12px;
}

.predgovor {
    text-align: justify;
}

.predgovor-text {
    font-size: 10pt;
    margin: 0;
    line-height: 1.22 !important;
    text-indent: 25pt;
    widows: 2;
    orphans: 2;
}

.predgovor-text-noindent {
    font-size: 10pt;
    line-height: 1.22 !important;
    margin: 0;
    widows: 2;
    orphans: 2;
}

.predgovor-podnaslov {
    text-align: center;
    font-size: 14pt;
    margin-top: 60px;
    margin-bottom: 30px;
}

.right {
    text-align: right;
    margin-right: 25pt;
}

@media print {
    /*ODREDNICE*/
}
