@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Italic.otf");
    font-style: italic;
    font-weight: normal;
}
@page {
    size: a4 portrait;
    margin: 10mm;
}

html { hyphens: auto; }

body{
    font-family: "Dijakritika", serif;
    font-feature-settings: "mark";
    font-feature-settings: "mkmk";
    font-feature-settings: "kern";
    font-feature-settings: "locl";
}
.onum {font-feature-settings: "onum";}  /* oldstyle numerals */
.tnum {font-feature-settings: "tnum";}  /* tabular numerals */
.frac {font-feature-settings: "frac";}  /* fractions */
.odrednica {
    margin-bottom: 6px;
    text-indent: -10px;
    text-align: justify;
}
.odrednica-header {
    font-size: 0;
    string-set: heading content(text);
}
.znacenje {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    width: 1.25em;
    border-radius: 4px;
    background-color: #777;
    border: 1px solid #777;
    padding: 0px;
    margin: 0;
}
.podznacenje {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    width: 1.25em;
    border-radius: 4px;
    background-color: #AAA;
    border: 1px solid #AAA;
    padding: 0px;
    margin: 0;
}
/*
.red {
    color: darkred;
}
.green {
    color: darkgreen;
}
.blue {
    color: darkblue;
}
.wavy {
    text-decoration: underline;
    text-decoration-style: wavy;
}
.strike {
    text-decoration: line-through;
}
*/
  
@media print {
    .title-page {
        page: title-page; 
        break-after: always;
    }
    .impresum-page{
        page: impresum-page;
        break-after: always;
    }

    .predgovor-page{
        page: predgovor-page;
        break-after: always;
    }

    .skracenice-page{
        page:skracenice-page;
        
    }
    /*ODREDNICE*/
    .slovo-spacer {
        margin-bottom: 120px;
        break-before: right;
    }
    .slovo {
        font-size: 36pt;
        text-align: center;
        margin-bottom: 30px;
    }
    .odrednice {
        line-height: 110%;
        font-size: 9pt;
        column-count: 2;
        column-gap: 2em;
    }
    /*KVALIFIKATORI*/
    .skracenice{
        width: 100%;
        font-size: 9pt;
        column-count: 2;
        column-gap: 2em;
        padding-bottom: 20px;
        
    }
    table {
        border-collapse: collapse;
        width: 100%;
       
    }
    
    td:nth-child(1){
        width: 60px;
    }
 
    .skracenice-title{
        font-size: 18pt;
        margin-top: 120px;
        margin-bottom: 120px;
        text-align: center;     
    }

    /*POCETNA STRANA*/
    .matica{
        margin-top: 120px;
        margin-bottom: 200px;
        font-size: 18pt;
    }

    .naslov{
        font-size: 40pt;
        line-height: 50%;
    }

    .veca_slova{
        font-size: 50pt;
    }
    
    .info{
        position: absolute;
        bottom:50px;
        left:310px;
        align-content:center;
        font-size: 14pt;
        line-height: 50%;
       
    }

    .info img{
        width: 30px;
        height: 30px;
    }

    .center{
        width: 60%;
        margin: auto;
        text-align: center;
    }
    
    /*IMPRESUM*/
    .copyright{
        position: absolute;
        bottom:50px;
        left: 160px;
        align-content:center;
        width: 100%;
        margin-top: 30px;
        width: 375px;
        text-wrap: pretty;
    }

    .space{
        margin-top: 30px;
    }
    .naslov_impresum{
        font-style: italic;
        margin-top: 15px;
        margin-bottom: 15px;
       }
    
    .div_imena{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /*PREDGOVOR*/
    .predgovor{
        text-align: justify;
    }

    @page predgovor-page, title-page, impresum-page{
        @top-center {
            content: none;
        }      
        @bottom-left {
            content: none;
        }
        @bottom-right {
            content: none;
        }
       
    }
  
    @page skracenice-page{
    }

    @page:right{
        font-family: "Dijakritika", serif;
        @top-center {
            content: string(heading, first) " — " string(heading, last);
            text-transform: uppercase;
            margin: 30pt 0 10pt 0;
            font-size: 9pt;
            color: black; /* #333; */
        }
        @bottom-right {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
    }

    @page:left {
        font-family: "Dijakritika", serif;
        @top-center {
            content: string(heading, first) " — " string(heading, last);
            text-transform: uppercase;
            margin: 30pt 0 10pt 0;
            font-size: 9pt;
            color: black; /* #333; */
        }
        @bottom-left {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
    }

    @page:blank {
        @top-center {
            content: none;
        }      
        @bottom-left {
            content: none;
        }
        @bottom-right {
            content: none;
        }
    }      
}
