<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Извештај из корпуса</title>
</head>
<body>
<div class="naslov">{{naslov}}</div>
<div class="datum">{{datum}}</div>
{% if upit %}
<div class="detalji">
    <p>у речнику: {{upit.u_recniku|yesno:'да,не,-'}}</p>
    <p>у корпусу: {{upit.u_korpusu|yesno:'да,не,-'}}</p>
    <p>фреквенција: {{upit.frek_od|default_if_none:'_'}} до {{upit.frek_do|default_if_none:'_'}}</p>
    <p>одлуке: {{upit.odluke|safeseq|join:', '}}</p>
    <p>слова: {{upit.opseg_slova|default_if_none:'сва'}}</p>
</div>
{% endif %}
{% for slovo in slova %}
{% if not forloop.first %}<div class="slovo-spacer"></div>{% endif %}
<div class="slovo">{{slovo.slovo}}</div>
<div class="kolone">
    <table>
        <thead>
            <tr>
                <th>Реч</th>
                <th class="right"><i>f</i></th>
            </tr>
        </thead>
        <tbody>
            {% for rec in slovo.reci %}
            <tr>
                <td>{{rec.tekst}}</td>
                <td class="right">{{rec.broj_pojavljivanja}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
</body>
</html>
