.param-name {
  font-size: 8pt;
}

.param-value input {
  font-family: "Fira Sans", "Lucida Sans Unicode", OrtoRNIDS, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #495057;
}