<p-menubar [styleClass]="headerStyle">
  <div class="logo-container">
    <img src="/assets/images/matica-srpska.jpg" height="30" [routerLink]="['/']">
    <p class="logo-text"><a [routerLink]="['/']" style="color: white;">Српко</a></p>
  </div>
  <div class="search-container">
    <p-autoComplete [(ngModel)]="searchWord" [suggestions]="searchResults" 
        (completeMethod)="searchWords()" scrollHeight="400px" 
        (onSelect)="select($event)" placeholder="Основна реч" 
        (onKeyUp)="onKeyUp($event)" [delay]="500">
      <ng-template let-word pTemplate="item">
        <span class="rec">{{word.rec}}</span>
        <span class="vrsta">{{word.vrsta_text}}</span>
      </ng-template>
    </p-autoComplete>
    <input pInputText type="text" [(ngModel)]="searchForm" 
      (keyup.enter)="searchForms($event)" class="search-component ml-2" 
      placeholder="Облик речи"/>
    <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" 
      #menuNew [model]="itemsNew" [popup]="true"></p-tieredMenu>
    <!-- <p-toggleButton 
      [(ngModel)]="caseSensitive" pRipple onLabel="aA" offLabel="aa" 
      pTooltip="Разликовање великих и малих слова">
    </p-toggleButton> -->
    <button pButton pRipple style="color: white;"
      class="p-button-rounded p-button-outlined button-header toggle-button" 
      pTooltip="{{caseSensitiveTooltip}}" label="{{caseSensitiveLabel}}"
      (click)="toggle()"></button>
    <button *ngIf="signedIn()" pButton pRipple icon="pi pi-sliders-h" 
      class="p-button-rounded p-button-outlined button-header" style="color: white;"
      (click)="advanced()" pTooltip="Напредна претрага">
    </button>
    <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
      #menuAdmin [model]="itemsAdmin" [popup]="true"></p-tieredMenu>
    <button *ngIf="isEditor() || isVolunteer()" pButton pRipple icon="pi pi-chart-line"
      class="p-button-rounded p-button-outlined button-header" style="color: white;" 
      (click)="menuAdmin.toggle($event)" pTooltip="Извештаји">
    </button>
    <button *ngIf="signedIn()" pButton pRipple icon="pi pi-plus" 
      class="p-button-rounded p-button-outlined button-header" style="color: white;"
      (click)="menuNew.toggle($event)" pTooltip="Додавање">
    </button>
  </div>
  <div class="menu-container">
    <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" 
      #menuUser [model]="itemsUser" [popup]="true"></p-tieredMenu>
    <div class="username">{{username}}</div>
    <button type="button" class="p-button-rounded p-button-outlined button-header" 
      pButton pRipple icon="pi pi-user"  style="color: white;"
      (click)="menuUser.toggle($event)">
    </button>
  </div>
</p-menubar>
<router-outlet></router-outlet>
<p-toast position="center"></p-toast>
