<toolbar></toolbar>
<div class="container">
  <h3>Именица</h3>
  <div class="tableform">
    <div class="row">
      <div class="cell"></div>
      <div class="cell"><p class="label">Једнина</p></div>
      <div class="cell"><p class="label">Множина</p></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Номинатив</p></div>
      <div class="cell"><input id="nomjed" type="text" pInputText></div>
      <div class="cell"><input id="nommno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Генитив</p></div>
      <div class="cell"><input id="genjed" type="text" pInputText></div>
      <div class="cell"><input id="genmno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Датив</p></div>
      <div class="cell"><input id="datjed" type="text" pInputText></div>
      <div class="cell"><input id="datmno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Акузатив</p></div>
      <div class="cell"><input id="akujed" type="text" pInputText></div>
      <div class="cell"><input id="akumno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Вокатив</p></div>
      <div class="cell"><input id="vokjed" type="text" pInputText></div>
      <div class="cell"><input id="vokmno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Инструментал</p></div>
      <div class="cell"><input id="insjed" type="text" pInputText></div>
      <div class="cell"><input id="insmno" type="text" pInputText></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Локатив</p></div>
      <div class="cell"><input id="lokjed" type="text" pInputText></div>
      <div class="cell"><input id="lokmno" type="text" pInputText></div>
    </div>
  </div>
</div>
