<toolbar (saveClicked)="checkDupes()" [saveAvailable]="saveAvailable()" [vlasnik]="vlasnikImePrezime()"></toolbar>
<possible-dupe [(visible)]="showDupes" [dupes]="dupes" (yes)="dupesYes()" (no)="dupesNo()"></possible-dupe>
<div class="container">
  <h3>Именица <span class="source-word" *ngIf="sourceWord" [routerLink]="returnUrl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ⋙ {{sourceWord}}</span></h3>
  <div class="tableform">
    <div class="row">
      <div class="cell"><p class="label">Врста</p></div>
      <div class="cell vcenter"><p-dropdown [options]="vrste" optionLabel="name" optionValue="id" [(ngModel)]="imenica.vrsta"></p-dropdown></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"><p class="label">Једнина</p></div>
      <div class="cell"><p class="label">Множина</p></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Номинатив</p></div>
      <div class="cell"><input id="nomjed" type="text" pInputText [(ngModel)]="imenica.nomjed" #nomjed (change)="setDirty()"></div>
      <div class="cell"><input id="nommno" type="text" pInputText [(ngModel)]="imenica.nommno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Генитив</p></div>
      <div class="cell"><input id="genjed" type="text" pInputText [(ngModel)]="imenica.genjed" (change)="setDirty()"></div>
      <div class="cell"><input id="genmno" type="text" pInputText [(ngModel)]="imenica.genmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Датив</p></div>
      <div class="cell"><input id="datjed" type="text" pInputText [(ngModel)]="imenica.datjed" (change)="setDirty()"></div>
      <div class="cell"><input id="datmno" type="text" pInputText [(ngModel)]="imenica.datmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Акузатив</p></div>
      <div class="cell"><input id="akujed" type="text" pInputText [(ngModel)]="imenica.akujed" (change)="setDirty()"></div>
      <div class="cell"><input id="akumno" type="text" pInputText [(ngModel)]="imenica.akumno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Вокатив</p></div>
      <div class="cell"><input id="vokjed" type="text" pInputText [(ngModel)]="imenica.vokjed" (change)="setDirty()"></div>
      <div class="cell"><input id="vokmno" type="text" pInputText [(ngModel)]="imenica.vokmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Инструментал</p></div>
      <div class="cell"><input id="insjed" type="text" pInputText [(ngModel)]="imenica.insjed" (change)="setDirty()"></div>
      <div class="cell"><input id="insmno" type="text" pInputText [(ngModel)]="imenica.insmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Локатив</p></div>
      <div class="cell"><input id="lokjed" type="text" pInputText [(ngModel)]="imenica.lokjed" (change)="setDirty()"></div>
      <div class="cell"><input id="lokmno" type="text" pInputText [(ngModel)]="imenica.lokmno" (change)="setDirty()"></div>
    </div>
  </div>
  <div *ngFor="let v of imenica.varijante; let i=index" class="tableform">
    <div class="row">
      <div class="cell"><h4>#{{i+1}}</h4></div>
      <div class="cell"></div>
      <div class="cell" style="text-align: right">
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-rounded p-button-outlined smaller-button mr-1" (click)="moveUp(i)" [disabled]="i === 0"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-rounded p-button-outlined smaller-button mr-1" (click)="moveDown(i)" [disabled]="i === imenica.varijante.length-1"></button>
        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-outlined p-button-danger smaller-button" (click)="remove(i)"></button>
      </div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Номинатив</p></div>
      <div class="cell"><input id="nomjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].nomjed" (change)="setDirty()"></div>
      <div class="cell"><input id="nommno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].nommno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Генитив</p></div>
      <div class="cell"><input id="genjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].genjed" (change)="setDirty()"></div>
      <div class="cell"><input id="genmno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].genmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Датив</p></div>
      <div class="cell"><input id="datjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].datjed" (change)="setDirty()"></div>
      <div class="cell"><input id="datmno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].datmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Акузатив</p></div>
      <div class="cell"><input id="akujed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].akujed" (change)="setDirty()"></div>
      <div class="cell"><input id="akumno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].akumno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Вокатив</p></div>
      <div class="cell"><input id="vokjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].vokjed" (change)="setDirty()"></div>
      <div class="cell"><input id="vokmno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].vokmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Инструментал</p></div>
      <div class="cell"><input id="insjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].insjed" (change)="setDirty()"></div>
      <div class="cell"><input id="insmno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].insmno" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Локатив</p></div>
      <div class="cell"><input id="lokjed{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].lokjed" (change)="setDirty()"></div>
      <div class="cell"><input id="lokmno{{i}}" type="text" pInputText [(ngModel)]="imenica.varijante[i].lokmno" (change)="setDirty()"></div>
    </div>
  </div>
</div>
<button type="button" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-lg p-button-raised fab" (click)="addVarijanta()"></button>
<p-button *ngIf="isAdmin() && editMode" pRipple icon="pi pi-times" [rounded]="true" class="fableft" severity="danger" (click)="areYouSure()"></p-button>
<are-you-sure [(visible)]="showAreYouSure" [message]="'Да ли сте сигурни да желите да обришете реч?'" (yes)="sureYes()" (no)="sureNo()"></are-you-sure>
