<toolbar (saveClicked)="checkDupes()" [saveAvailable]="saveAvailable()" [vlasnik]="vlasnikImePrezime()"></toolbar>
<possible-dupe [(visible)]="showDupes" [dupes]="dupes" (yes)="dupesYes()" (no)="dupesNo()"></possible-dupe>
<div class="container">
  <h3>Заменица <span class="source-word" *ngIf="sourceWord" [routerLink]="returnUrl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ⋙ {{sourceWord}}</span></h3>
  <div class="tableform">
    <div class="row">
      <div class="cell"></div>
      <div class="cell"><p class="label">Једнина</p></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Номинатив</p></div>
      <div class="cell"><input id="nomjed" type="text" pInputText [(ngModel)]="zamenica.nomjed" #nomjed (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Генитив</p></div>
      <div class="cell"><input id="genjed" type="text" pInputText [(ngModel)]="zamenica.genjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Датив</p></div>
      <div class="cell"><input id="datjed" type="text" pInputText [(ngModel)]="zamenica.datjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Акузатив</p></div>
      <div class="cell"><input id="akujed" type="text" pInputText [(ngModel)]="zamenica.akujed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Вокатив</p></div>
      <div class="cell"><input id="vokjed" type="text" pInputText [(ngModel)]="zamenica.vokjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Инструментал</p></div>
      <div class="cell"><input id="insjed" type="text" pInputText [(ngModel)]="zamenica.insjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Локатив</p></div>
      <div class="cell"><input id="lokjed" type="text" pInputText [(ngModel)]="zamenica.lokjed" (change)="setDirty()"></div>
    </div>
  </div>
  <div *ngFor="let v of zamenica.varijante; let i=index" class="tableform">
    <div class="row">
      <div class="cell"><h4>#{{i+1}}</h4></div>
      <div class="cell"></div>
      <div class="cell" style="text-align: right">
        <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-rounded p-button-outlined smaller-button mr-1" (click)="moveUp(i)" [disabled]="i === 0"></button>
        <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-rounded p-button-outlined smaller-button mr-1" (click)="moveDown(i)" [disabled]="i === zamenica.varijante.length-1"></button>
        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-outlined p-button-danger smaller-button" (click)="remove(i)"></button>
      </div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Номинатив</p></div>
      <div class="cell"><input id="nomjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].nomjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Генитив</p></div>
      <div class="cell"><input id="genjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].genjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Датив</p></div>
      <div class="cell"><input id="datjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].datjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Акузатив</p></div>
      <div class="cell"><input id="akujed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].akujed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Вокатив</p></div>
      <div class="cell"><input id="vokjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].vokjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Инструментал</p></div>
      <div class="cell"><input id="insjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].insjed" (change)="setDirty()"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Локатив</p></div>
      <div class="cell"><input id="lokjed{{i}}" type="text" pInputText [(ngModel)]="zamenica.varijante[i].lokjed" (change)="setDirty()"></div>
    </div>
  </div>
</div>
<button type="button" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-lg p-button-raised fab" (click)="addVarijanta()"></button>
<p-button *ngIf="isAdmin() && editMode" pRipple icon="pi pi-times" [rounded]="true" class="fableft" severity="danger" (click)="areYouSure()"></p-button>
<are-you-sure [(visible)]="showAreYouSure" [message]="'Да ли сте сигурни да желите да обришете реч?'" (yes)="sureYes()" (no)="sureNo()"></are-you-sure>
