@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Dijakritika';
    src: url("file:///app/staticfiles/fonts/Dijakritika-Italic.otf");
    font-style: italic;
    font-weight: normal;
}
@page {
    size: a4 portrait;
    margin: 10mm;
}

html { hyphens: auto; }

body{
    font-family: "Dijakritika", serif;
    font-feature-settings: "mark";
    font-feature-settings: "mkmk";
    font-feature-settings: "kern";
    font-feature-settings: "locl";
}
.onum {font-feature-settings: "onum";}  /* oldstyle numerals */
.tnum {font-feature-settings: "tnum";}  /* tabular numerals */
.frac {font-feature-settings: "frac";}  /* fractions */
/*
.odrednica {
    margin-bottom: 6px;
    text-indent: -10px;
    text-align: justify;
}
*/
.right {
    text-align: right;
}

@media print {
    th, td { border-bottom: 1px solid #aaa; }
    table { 
        border-spacing: 0;
        border-collapse: collapse;
    }
    .kolone {
        line-height: 110%;
        font-size: 9pt;
        column-count: 4;
        column-gap: 2em;
    }
    .slovo-spacer {
        margin-bottom: 120px;
        break-before: page;
    }
    .slovo {
        font-size: 36pt;
        text-align: center;
        margin-bottom: 20px;
    }
    .naslov {
        font-size: 18pt;
        text-align: center;
        margin-bottom: 10px;
    }
    .datum {
        font-size: 11pt;
        text-align: center;
        margin-bottom: 30px;
    }
    @page:right{
        font-family: "Dijakritika", serif;
        @bottom-right {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
    }
    @page:left {
        font-family: "Dijakritika", serif;
        @bottom-left {
            margin: 10pt 0 30pt 0;
            /* border-top: .25pt solid #666; */
            content: counter(page);
            font-size: 9pt;
        }
    }
}
