<p-dialog header="Унос наводника" [(visible)]="showQuotesDialog" [style]="{width: '50vw'}" [resizable]="false" [modal]="true" [closable]="true">
  <button pButton label="„" (click)="insertQuote('„')" class="accent-button p-mr-3"></button>
  <button pButton label="“" (click)="insertQuote('“')" class="accent-button p-mr-3"></button>
</p-dialog>
<div class="p-d-flex">
  <div class="p-mr-2">
    <h4>Подзначење</h4>
  </div>
  <div class="p-mr-2" style="width: 200px" class="center-container">
    <button
      pButton
      icon="pi pi-plus"
      class="p-button-rounded p-button-outlined add-button"
      (click)="add()">
    </button>
  </div>
</div>
<form #formRef="ngForm">
  <div *ngFor="let submeaning of submeanings; let i=index" class="col-sm-3">
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2">
        <div class="p-d-flex">
          <div class="p-mr-2">
            <div class="p-d-flex p-flex-column">
              <div class="p-mb-2">
                <p class="label">Подзначење {{znacenjeRbr}}{{azbuka[i]}}:</p>
                <textarea rows="2" cols="80" style="resize:vertical" pInputTextarea [(ngModel)]="submeanings[i].value" name="name{{i}}" #name="ngModel" (keyup)="keyup($event, i)"></textarea>
              </div>
            </div>
          </div>
          <div class="p-mr-2">
            <button
              pButton
              pRipple
              style="margin-top: 10px;"
              type="button"
              icon="pi pi-minus"
              class="p-button-rounded p-button-outlined p-button-danger add-button"
              (click)="remove(submeaning)">
            </button>
          </div>
        </div>
      </div>
      <div>
        <p-fieldset legend="Конкорданце:" [toggleable]="true" collapsed="true">
          <concordance [concordances]="submeanings[i].concordances"></concordance>
        </p-fieldset>
      </div>
      <div style="margin-top: 20px;">
        <p-fieldset legend="Квалификатори:" [toggleable]="true" collapsed="true">
          <qualificator [(selectedQualificators)]="submeanings[i].qualificators"></qualificator>
        </p-fieldset>
      </div>
      <div style="margin-top: 20px;">
        <p-fieldset legend="Изрази и фразе:" [toggleable]="true" collapsed="true">
          <expressions [expressions]="submeanings[i].expressions" [isTopLevel]="false"></expressions>
        </p-fieldset>
      </div>
    </div>
  </div>
</form>
