<form #formRef="ngForm">
  <div *ngFor="let submeaning of submeanings; let i=index" class="col-sm-3">
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2">
        <div class="p-d-flex">
          <div class="p-mr-2">
            <div class="p-d-flex p-flex-column">
              <div class="p-mb-2">
                <p class="label">Подзначење {{i + 1}}:</p>
                <textarea [rows]="7" [cols]="37" style="height: 142px !important;" pInputTextarea [(ngModel)]="submeanings[i].value" name="name{{i}}" #name="ngModel" ></textarea>
              </div>
            </div>
          </div>
          <div class="p-mr-2">
            <button pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button" (click)="add()"></button>
          </div>
        </div>
      </div>
      <div>
        <concordance></concordance>
      </div>
      <div style="margin-top: 20px;">
        <p-fieldset legend="Квалификатори:" [toggleable]="true" collapsed="true">
          <qualificator></qualificator>
        </p-fieldset>
      </div>
      <div style="margin-top: 20px;">
        <p-fieldset legend="Изрази и фразе:" [toggleable]="true" collapsed="true">
          <expressions></expressions>
        </p-fieldset>
      </div>
    </div>
  </div>
</form>
