<form #formRef="ngForm">
  <div *ngFor="let submeaning of submeanings; let in=index" class="col-sm-3">
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2">
        <div class="p-d-flex">
          <div class="p-mr-2">
            <div class="p-d-flex p-flex-column">
              <div class="p-mb-2">
                <p class="label">Подзначење {{in + 1}}:</p>
                <textarea [rows]="7" [cols]="37" style="height: 142px !important;" pInputTextarea [(ngModel)]="submeanings[in].value" name="name{{in}}" #name="ngModel" ></textarea>
              </div>
            </div>
          </div>
          <div class="p-mr-2">
            <button pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button" (click)="add()"></button>
          </div>
        </div>
      </div>
      <div>
        <concordance></concordance>
      </div>
    </div>
  </div>
</form>
