.home-container {
  padding: 10px;
}

:host ::ng-deep .fword {
  color: red;
  font-weight: bold;
  display: inline;
}

.vrsta-reci {
  color: gray;
  font-size: small;
}

.edit-link {
  text-decoration: none;
  color: rgb(34, 34, 153);
  font-size: small;
}

.hits {
  display: table;
}

.hit-row {
  display: table-row;
}

.rbr, .skr, .izv {
  display: table-cell;
  padding: 5px;
}

.right {
  text-align: right;
}

:host ::ng-deep .p-paginator-rpp-options {
  width: 70px;
}

:host ::ng-deep .p-paginator-page-options {
  width: 100px;
}

.hitcount {
  margin-bottom: 12px;
}