<div class="home-container" *ngIf="hits">
  <h3 *ngIf="word">{{word.osnovni_oblik}} &nbsp;&nbsp; <span class="vrsta-reci">[{{word.naziv_vrste_reci}}]</span> &nbsp;&nbsp; <a class="edit-link" [routerLink]="editRouterLink">обрада &gt;&gt;</a></h3>
  <h3 *ngIf="wordForm">{{wordForm}}</h3>

  <p-paginator [totalRecords]="hits.length" [first]="first" (onPageChange)="onPageChange($event)" [rows]="100" [rowsPerPageOptions]="[100,200,300]" [showJumpToPageDropdown]="true"></p-paginator>

  <div *ngFor="let hit of hitPage">
      <p class="skr">[{{ hit.skracenica }}]</p>
      <p class="izv" [innerHTML]="safe(hit.highlights)"></p>
  </div>

</div>
<div class="progress" *ngIf="searching">
  <p-progressSpinner></p-progressSpinner>
</div>
