.home-container {
  padding: 10px;
}

:host ::ng-deep .highlight {
  color: red;
  font-weight: bold;
}

.vrsta-reci {
  color: gray;
  font-size: small;
}

.edit-link {
  text-decoration: none;
  color: rgb(34, 34, 153);
  font-size: small;
}

.skr, .izv {
  display: inline-block;
  margin: 5px 2px;
}

.skr {
  width: 100px;
}

:host ::ng-deep .p-paginator-rpp-options {
  width: 70px;
}

:host ::ng-deep .p-paginator-page-options {
  width: 100px;
}
