.profile-container {
  margin: 10px;
}

.text {
  font-family: "Fira Sans", "Lucida Sans Unicode", OrtoRNIDS, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.name {
  font-size: 2em;
  margin-bottom: 5px;
}

.email {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.group {
  margin-bottom: 30px;
}

.error {
  color: red;
}
