<p-dialog header="Унос знакова" [(visible)]="showQuotesDialog" [style]="{width: '80vw'}" [resizable]="false" [modal]="true" [closable]="true">
  <button pButton label="„" (click)="insertQuote('„')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="”" (click)="insertQuote('”')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="’" (click)="insertQuote('’')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="[" (click)="insertQuote('[')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="]" (click)="insertQuote(']')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="~" (click)="insertQuote('~')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="–" (click)="insertQuote('–')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="{{baseChar}}̀" (click)="insertQuote('̀')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="{{baseChar}}̄" (click)="insertQuote('̄')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="{{baseChar}}̏" (click)="insertQuote('̏')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="{{baseChar}}́" (click)="insertQuote('́')" class="accent-button mr-3 mb-2"></button>
  <button pButton label="{{baseChar}}̑" (click)="insertQuote('̑')" class="accent-button mr-3 mb-2"></button>
</p-dialog>

<div>
  <button
    pButton
    icon="pi pi-plus"
    class="p-button-rounded p-button-raised fab mb-2"
    (click)="add()">
  </button>
</div>
<div *ngFor="let coll of shortCollocations; let i = index">
  <div class="flex align-items-center mb-1">
    <div>
      <input type="text"
             pInputText
             class="long-input"
             [(ngModel)]="shortCollocations[i].tekst"
             (focusout)="onFocusLeave()"
             (ngModelChange)="onValueChange($event)"
             (keyup)="keyup($event, i)"
             placeholder="колокација"/>
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-minus"
        class="p-button-rounded p-button-outlined p-button-danger add-button ml-2"
        (click)="remove(coll)">
      </button>
    </div>
  </div>
</div>
