<div class="home-container">
  <div class="p-grid">
    <div class="p-col-4">
      <p-fieldset legend="Најновије одреднице">
        <app-rendered-odrednice source="/api/render/odrednice/newest/10/" [isTrusted]="true"></app-rendered-odrednice>
      </p-fieldset>
    </div>
    <div class="p-col-4">
      <p-fieldset legend="Последње измене">
        <app-rendered-odrednice source="/api/render/odrednice/latest/10/" [isTrusted]="true"></app-rendered-odrednice>
      </p-fieldset>
    </div>
    <div class="p-col-4">
      <p-fieldset legend="Најчешће прегледане">
        <app-rendered-odrednice source="/api/render/odrednice/popular/10/" [isTrusted]="true"></app-rendered-odrednice>
      </p-fieldset>
    </div>
  </div>
</div>
