.home-container {
  margin:10px
}

:host ::ng-deep .p-fieldset-legend {
  background-color: white;
  border: none;
}

//:host ::ng-deep .p-fieldset {
//  min-height: max-content;
//  height: 90vh;
//  overflow: scroll;
//}

.autor { /*width: 200px;*/ }
.izmena { width: 90px; }
.pointer { cursor: pointer; }
.pointer:hover {
  background-color: #eee;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 5px;
}

.obradjivac { white-space: nowrap; }
.brojodrednica { text-align: right !important; width: 80px !important; }
.brojznakova { text-align: right !important; }
.centered { text-align: center !important; }
.table-header { padding: 5px !important; }
.total { font-weight: bold; background-color: #f8f9fa; }
