<div class="home-container">
  <div class="grid">
    <div class="col-6">
      <p-fieldset legend="Моје одреднице">
        <p-table #table [value]="myDeterminants" [paginator]="true" [rows]="30">
          <ng-template pTemplate="header">
            <tr>
              <th class="odrednica">Одредница</th>
              <th class="izmena">Измена</th>
              <th class="autor">Лексикограф</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="pointer" (click)="goto(item.odrednica_id)">
              <td>{{item.rec}}<sup *ngIf="item.rbr_homo">{{item.rbr_homo}}</sup> <span *ngIf="item.ima_napomene" class="red-asterisk">*</span></td>
              <td>{{item.datum|date:'dd.MM.yyyy.'}}</td>
              <td>{{item.autor}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
    <div class="col-6">
      <p-fieldset legend="Ничије одреднице">
        <p-table #table [value]="nobodysDeterminants" [paginator]="true" [rows]="30">
          <ng-template pTemplate="header">
            <tr>
              <th class="odrednica">Одредница</th>
              <th class="izmena">Датум</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="pointer" (click)="goto(item.odrednica_id)">
              <td>{{item.rec}}<sup *ngIf="item.rbr_homo">{{item.rbr_homo}}</sup> <span *ngIf="item.ima_napomene" class="red-asterisk">*</span></td>
              <td>{{item.datum|date:'dd.MM.yyyy.'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>

    <div class="col-12">
      <p-fieldset legend="Одреднице за пробну свеску">
        <p-table [value]="odredniceZaProbnuSvesku" [paginator]="true" [rows]="30">
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header odrednica">Одредница</th>
              <th class="table-header izmena">Датум</th>
              <th class="table-header">Стање</th>
              <th class="table-header">Обрађивач</th>
              <th class="table-header">Редактор</th>
              <th class="table-header">Уредник</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.rec}}</td>
              <td>{{item.poslednja_izmena|date:'dd.MM.yyyy.'}}</td>
              <td>{{item.stanje_text}}</td>
              <td>{{item.obradjivac?.first_name}} {{item.obradjivac?.last_name}}</td>
              <td>{{item.redaktor?.first_name}} {{item.redaktor?.last_name}}</td>
              <td>{{item.urednik?.first_name}} {{item.urednik?.last_name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>

    <div class="col-12">
      <p-fieldset legend="Динамика обраде">
        <p-table [value]="users">
          <ng-template pTemplate="header">
            <tr>
              <th class="table-header">&nbsp;</th>
              <th colspan="2" class="centered table-header">Сачувано</th>
              <th colspan="2" class="centered table-header">Завршено</th>
            </tr>
            <tr>
              <th class="obradjivac table-header">Обрађивач</th>
              <th class="brojodrednica table-header"># одредница</th>
              <th class="brojznakova table-header"># знакова</th>
              <th class="brojodrednica table-header"># одредница</th>
              <th class="brojznakova table-header"># знакова</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td class="obradjivac" [ngClass]="{total: user.first_name=='УКУПНО'}">
                {{user.first_name}} {{user.last_name}}
              </td>
              <td class="brojodrednica" [ngClass]="{total: user.first_name=='УКУПНО'}">
                {{user.broj_odrednica}}
              </td>
              <td class="brojznakova" [ngClass]="{total: user.first_name=='УКУПНО'}">
                {{user.broj_znakova}}
              </td>
              <td class="brojodrednica" [ngClass]="{total: user.first_name=='УКУПНО'}">
                {{user.zavrsenih_odrednica}}
              </td>
              <td class="brojznakova" [ngClass]="{total: user.first_name=='УКУПНО'}">
                {{user.zavrsenih_znakova}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>

    <div class="col-12">
      <p-fieldset legend="Број знакова недељно">
        <p-chart type="line" [data]="graphDataChars"></p-chart>
      </p-fieldset>
    </div>

    <div class="col-12">
      <p-fieldset legend="Број одредница недељно">
        <p-chart type="line" [data]="graphDataDeterminants"></p-chart>
      </p-fieldset>
    </div>

    <div class="col-12">
      <p-fieldset legend="Број одредница по словима">
        <p-chart type="bar" [data]="graphDataLetters" [options]="optionsNoLegend"></p-chart>
      </p-fieldset>
    </div>

  </div>
</div>
