<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Додај" (click)="add()" icon="pi pi-plus" class="p-ml-2"></p-button>
  </div>
</p-toolbar>
<p-dialog header="Упозорење" [(visible)]="showDeleteWarningDialog" [style]="{width: '50vw'}">
  <div [innerHTML]="message"></div>
  <div class="flex justify-content-end">
    <p-button label="Да" (click)="deleteYes()" styleClass="p-button-danger" icon="pi pi-times"></p-button>
    <p-button label="Не" (click)="deleteNo()" styleClass="p-button-secondary" icon="pi pi-undo" class="ml-3"></p-button>
  </div>
</p-dialog>
<div class="container">
  <h3>Публикације</h3>
  <p-table #table [value]="publikacije" [paginator]="true" [rows]="10" [globalFilterFields]="['naslov']">
    <ng-template pTemplate="caption">
      <div class="flex p-0">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input #filter pInputText type="text" (input)="table.filterGlobal($event.target.value, 'contains')" placeholder="Претрага по наслову"/>
        </span>
        <button pButton pRipple class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(table, filter)"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="skracenica">Скраћеница</th>
        <th class="opis">Опис</th>
        <th class="operacije">Операције</th>
        <th class="tekst">Текст</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pub>
      <tr>
        <td>{{pub.skracenica}}</td>
        <td [innerHTML]="opis(pub)"></td>
        <td>
          <span class="pi pi-pencil pointer mr-3" (click)="edit(pub)"></span>
          <span class="pi pi-times pointer" (click)="delete(pub)"></span>
        </td>
        <td>
          <span class="pi pi-forward red pointer" (click)="annotate(pub)"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

