<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Додај" (click)="add()" icon="pi pi-plus" class="p-ml-2"></p-button>
  </div>
</p-toolbar>
<p-dialog header="Упозорење" [(visible)]="showDeleteWarningDialog" [style]="{width: '50vw'}">
  <div [innerHTML]="message"></div>
  <div class="flex justify-content-end">
    <p-button label="Да" (click)="deleteYes()" styleClass="p-button-danger" icon="pi pi-times"></p-button>
    <p-button label="Не" (click)="deleteNo()" styleClass="p-button-secondary" icon="pi pi-undo" class="ml-3"></p-button>
  </div>
</p-dialog>
<div class="container">
  <h3>Извори</h3>
  <p-table 
      [value]="publikacije" 
      [lazy]="true"
      [dataKey]="'id'" 
      styleClass="p-datatable-sm" 
      responsiveLayout="scroll" 
      [paginator]="true"
      [rows]="20" 
      [loading]="loading"
      [totalRecords]="total"
      (onLazyLoad)="onLazyLoad($event)"
      [showCurrentPageReport]="true"
      [scrollable]="true"
      scrollHeight="600px">
    <ng-template pTemplate="caption">
      <div class="flex p-0">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input [(ngModel)]="filter" (keyup.enter)="setFilter()" pInputText type="text" placeholder="Претрага по наслову"/>
        </span>
        <button (click)="clear()" pButton pRipple class="p-button-outlined" icon="pi pi-filter-slash"></button> 
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="skracenica">Скраћеница</th>
        <th class="naslov">Наслов</th>
        <th class="godina">Година</th>
        <th class="potkorpus">Поткорпус</th>
        <th class="operacije">Операције</th>
        <th class="tekst">Текст</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pub>
      <tr>
        <td>{{pub.skracenica}}</td>
        <td>{{pub.naslov}}</td>
        <td>{{pub.godina}}</td>
        <td>{{pub.potkorpus.naziv}}</td>
        <td style="text-align: center">
<!--          <span class="pi pi-pencil pointer mr-3" (click)="edit(pub)"></span>-->
          <span class="pi pi-sliders-h pointer mr-3" (click)="configure(pub)"></span>
          <span class="pi pi-times pointer red mr-3" (click)="delete(pub)"></span>
        </td>
        <td style="text-align: center">
          <span class="pi pi-forward green pointer" (click)="annotate(pub)"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

