<div class="flex flex-column">
  <div class="mb-2">
    <button
      pButton
      icon="pi pi-plus"
      class="p-button-rounded p-button-raised"
      (click)="add()">
    </button>
  </div>
  <div class="mb-2">
    <form #formRef="ngForm">
      <div *ngFor="let collocation of collocations; let i=index" class="nice-border mb-3">
        <div style="float: right;">
          <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" (click)="remove(i)">
          </p-button>
        </div>
        <div class="form-group">
          <determinant [determinants]="collocation.determinants" (determinantsChange)="onChange()" [context]="'col'+i+'-'"></determinant>
        </div>
        <div class="flex flex-column">
          <div class="mb-2">
            <textarea
              [rows]="7"
              [cols]="37"
              [(ngModel)]="collocations[i].note"
              #name="ngModel"
              name="collocations-name{{i}}"
              placeholder="Напомене"
              pInputTextarea style="height: 142px">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
