<div class="p-d-flex p-flex-column">
  <div class="p-d-flex">
    <div class="p-mr-2">
      <h4>Колокације</h4>
    </div>
    <div class="p-mr-2" class="center-container">
      <button
        pButton
        icon="pi pi-plus"
        class="p-button-rounded p-button-outlined add-button"
        (click)="add()">
      </button>
    </div>
  </div>
  <div class="p-mb-2">
    <form #formRef="ngForm">
      <div *ngFor="let collocation of collocations; let i=index" class="col-sm-3 nice-border p-mb-3">
        <div style="float:right">
          <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" (click)="remove(i)">
          </p-button>
        </div>
        <div class="form-group">
          <determinant [determinants]="collocation.determinants" (determinantsChange)="onChange()"></determinant>
        </div>
        <div class="p-d-flex p-flex-column">
          <div class="p-mb-2">
            <textarea
              [rows]="7"
              [cols]="37"
              [(ngModel)]="collocations[i].note"
              #name="ngModel"
              name="collocations-name{{i}}"
              placeholder="Напомене"
              pInputTextarea style="height: 142px">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
