.p-mr-3 {
  margin-top: auto;
  margin-bottom: auto;
}

.accent-button {
  font-size: 80px;
}


.fab {
  z-index: 100;
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  width: 40px !important;
  height: 40px !important;
}
