.p-mr-3 {
  margin-top: auto;
  margin-bottom: auto;
}

.accent-button {
  font-size: 80px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
}

:host ::ng-deep .p-dialog-content {
  padding-top: 2rem !important;
}

.fab {
  z-index: 100;
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  width: 40px !important;
  height: 40px !important;
}

.mgmt-buttons {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
