<div class="p-d-flex">
  <div class="p-mr-2">
    <h2>
      Значење
    </h2>
  </div>
  <div class="p-mr-2" style="width: 200px; margin-top: auto; margin-bottom: auto;" class="center-container">
    <button
      pButton
      icon="pi pi-plus"
      class="p-button-rounded p-button-outlined add-button"
      (click)="add()">
    </button>
  </div>
</div>
<form #formRef="ngForm">
  <div *ngFor="let meaning of meanings; let i=index" class="col-sm-3">
    <div class="form-group">
        <div class="p-d-flex">
          <div class="p-mr-2">
            <div class="p-d-flex p-flex-column">
              <div class="p-mb-2">
                <p class="label">Значење {{i + 1}}:</p>
                <textarea [rows]="7" [cols]="37" style="height: 142px !important;" pInputTextarea [(ngModel)]="meanings[i].value" name="name{{i}}" #name="ngModel" ></textarea>
              </div>
            </div>
          </div>
          <div class="p-mr-2">
            <button
              pButton
              pRipple
              type="button"
              style="margin-top: 10px"
              icon="pi pi-minus"
              class="p-button-rounded p-button-outlined p-button-danger add-button"
              (click)="remove(meaning)">
            </button>
          </div>
        </div>
        <div class="p-d-flex p-flex-column" style="width: fit-content">
          <div class="concordance-container">
            <div class="p-mr-2">
              <concordance></concordance>
            </div>
            <div class="p-mr-2" style="margin-top: 10px;">
              <p-fieldset legend="Подзначење:" [toggleable]="true" collapsed="true">
                <submeaning></submeaning>
              </p-fieldset>
            </div>
            <div class="p-mr-2" style="margin-top: 10px;">
              <p-fieldset legend="Квалификатори:" [toggleable]="true" collapsed="true">
                <qualificator></qualificator>
              </p-fieldset>
            </div>
            <div class="p-mr-2" style="margin-top: 10px;">
              <p-fieldset legend="Изрази и фразе:" [toggleable]="true" collapsed="true">
                <expressions></expressions>
              </p-fieldset>
            </div>
          </div>
        </div>
    </div>
  </div>
</form>
