:host ::ng-deep .p-menubar-end {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

:host ::ng-deep .p-menubar {
  border-radius: 0;
  margin: 0;
  width: 100%;
}

:host ::ng-deep .p-menubar-button {
  display: none;
}

.search-component {
  .rec {
    float: left;
  }
  .vrsta {
    float: right;
  }
}

.search-container {
  display: flex;
  flex: 3;
  justify-content: center;
}

.add-button {
  margin-left: 10px;
}

.button-header {
  width: 35px !important;
  height: 35px !important;
  margin-left: 10px;
}

.logo-container {
  img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  .logo-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    margin: 0;
    a {
      font-family: 'Fira Sans Condensed' !important;
      text-decoration: none;
      color: #495057;
    }
  }
}

.logo-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.menu-container {
  flex: 1;
  text-align: right;
}


.menu-button {
  height: 30px !important;
  width: 30px;
}

:host ::ng-deep .p-menubar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
