<p-menubar>
  <div>
    <p class="logo-text">RSJ</p>
  </div>
  <div>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="search" class="search-component" pInputText placeholder="Pretraga">
    </span>
    <button pButton icon="pi pi-plus" class="p-button-rounded p-button-outlined add-button"></button>
  </div>
  <div>
    <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"></p-tieredMenu>
    <button #btn type="button" class="p-button-rounded p-button-outlined menu-button" pButton icon="pi pi-list" (click)="menu.toggle($event)"></button>
  </div>
</p-menubar>
<router-outlet></router-outlet>
