.container {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
}

.select {
    margin-left: 12px;
}

.button {
    margin-top: 50px;
}

:host ::ng-deep .p-toolbar {
    position: fixed;
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

:host ::ng-deep .p-dropdown {
    width: 150px;
    font-family: 'Lucida Sans Unicode';
}

:host ::ng-deep .p-dropdown-label {
    padding: 4px !important;
    font-family: 'Lucida Sans Unicode';
}

:host ::ng-deep .p-button {
    font-family: 'Lucida Sans Unicode';
}
