.page-container { margin: 10px; }
.pointer { cursor: pointer; }
.pointer:hover { background-color: #EEE; }
.glava { width: 200px; }
.vrsta { width: 100px; }
.stanje { width: 100px; }
.datum { width: 170px; }
