asgiref==3.7.2
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cssselect2==0.7.0
Django==5.0.3
django-concurrency==2.5
django-filter==24.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
docx==0.2.4
drf-yasg==1.21.7
elastic-transport==8.12.0
elasticsearch==8.12.1
fonttools==4.49.0
gunicorn==21.2.0
html5lib==1.1
idna==3.6
inflection==0.5.1
lxml==5.1.0
mysql-connector-python==8.3.0
mysqlclient==2.2.4
packaging==24.0
pillow==10.2.0
pycparser==2.21
pydyf==0.9.0
PyJWT==2.8.0
pyphen==0.14.0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
setuptools==69.2.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tinycss2==1.2.1
uritemplate==4.1.1
urllib3==2.2.1
weasyprint==61.2
webencodings==0.5.1
zopfli==0.2.3
