<toolbar (saveClicked)="save()"></toolbar>
<div class="container">
  <h3>Глагол</h3>

  <div class="tableform">
    <div class="row">
      <div class="cell"><p class="label">Инфинитив</p></div>
      <div class="cell"><input id="infinitiv" type="text" pInputText [(ngModel)]="glagol.infinitiv"></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Гл. род</p></div>
      <div class="cell"><p-dropdown [options]="rodovi" optionLabel="name" optionValue="id" [(ngModel)]="glagol.gl_rod"></p-dropdown></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"><p class="label">Гл. вид</p></div>
      <div class="cell"><p-dropdown [options]="vidovi" optionLabel="name" optionValue="id" [(ngModel)]="glagol.gl_vid"></p-dropdown></div>
      <div class="cell"></div>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="Презент">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Прво лице</p></div>
          <div class="cell"><input id="prez_jd1" type="text" pInputText [(ngModel)]="glagol.oblici[0].jd1"></div>
          <div class="cell"><input id="prez_mn1" type="text" pInputText [(ngModel)]="glagol.oblici[0].mn1"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Друго лице</p></div>
          <div class="cell"><input id="prez_jd2" type="text" pInputText [(ngModel)]="glagol.oblici[0].jd2"></div>
          <div class="cell"><input id="prez_mn2" type="text" pInputText [(ngModel)]="glagol.oblici[0].mn2"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Треће лице</p></div>
          <div class="cell"><input id="prez_jd3" type="text" pInputText [(ngModel)]="glagol.oblici[0].jd3"></div>
          <div class="cell"><input id="prez_mn3" type="text" pInputText [(ngModel)]="glagol.oblici[0].mn3"></div>
          <div class="cell"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Футур 1">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Прво лице</p></div>
          <div class="cell"><input id="fut_jd1" type="text" pInputText [(ngModel)]="glagol.oblici[1].jd1"></div>
          <div class="cell"><input id="fut_mn1" type="text" pInputText [(ngModel)]="glagol.oblici[1].mn1"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Друго лице</p></div>
          <div class="cell"><input id="fut_jd2" type="text" pInputText [(ngModel)]="glagol.oblici[1].jd2"></div>
          <div class="cell"><input id="fut_mn2" type="text" pInputText [(ngModel)]="glagol.oblici[1].mn2"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Треће лице</p></div>
          <div class="cell"><input id="fut_jd3" type="text" pInputText [(ngModel)]="glagol.oblici[1].jd3"></div>
          <div class="cell"><input id="fut_mn3" type="text" pInputText [(ngModel)]="glagol.oblici[1].mn3"></div>
          <div class="cell"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Аорист">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Прво лице</p></div>
          <div class="cell"><input id="aor_jd1" type="text" pInputText [(ngModel)]="glagol.oblici[2].jd1"></div>
          <div class="cell"><input id="aor_mn1" type="text" pInputText [(ngModel)]="glagol.oblici[2].mn1"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Друго лице</p></div>
          <div class="cell"><input id="aor_jd2" type="text" pInputText [(ngModel)]="glagol.oblici[2].jd2"></div>
          <div class="cell"><input id="aor_mn2" type="text" pInputText [(ngModel)]="glagol.oblici[2].mn2"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Треће лице</p></div>
          <div class="cell"><input id="aor_jd3" type="text" pInputText [(ngModel)]="glagol.oblici[2].jd3"></div>
          <div class="cell"><input id="aor_mn3" type="text" pInputText [(ngModel)]="glagol.oblici[2].mn3"></div>
          <div class="cell"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Имперфекат">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Прво лице</p></div>
          <div class="cell"><input id="imperfekat_jd1" type="text" pInputText [(ngModel)]="glagol.oblici[3].jd1"></div>
          <div class="cell"><input id="imperfekat_mn1" type="text" pInputText [(ngModel)]="glagol.oblici[3].mn1"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Друго лице</p></div>
          <div class="cell"><input id="imperfekat_jd2" type="text" pInputText [(ngModel)]="glagol.oblici[3].jd2"></div>
          <div class="cell"><input id="imperfekat_mn2" type="text" pInputText [(ngModel)]="glagol.oblici[3].mn2"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Треће лице</p></div>
          <div class="cell"><input id="imperfekat_jd3" type="text" pInputText [(ngModel)]="glagol.oblici[3].jd3"></div>
          <div class="cell"><input id="imperfekat_mn3" type="text" pInputText [(ngModel)]="glagol.oblici[3].mn3"></div>
          <div class="cell"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Императив">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Прво лице</p></div>
          <div class="cell"><input id="imperativ_jd1" type="text" pInputText [(ngModel)]="glagol.oblici[4].jd1"></div>
          <div class="cell"><input id="imperativ_mn1" type="text" pInputText [(ngModel)]="glagol.oblici[4].mn1"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Друго лице</p></div>
          <div class="cell"><input id="imperativ_jd2" type="text" pInputText [(ngModel)]="glagol.oblici[4].jd2"></div>
          <div class="cell"><input id="imperativ_mn2" type="text" pInputText [(ngModel)]="glagol.oblici[4].mn2"></div>
          <div class="cell"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Треће лице</p></div>
          <div class="cell"><input id="imperativ_jd3" type="text" pInputText [(ngModel)]="glagol.oblici[4].jd3"></div>
          <div class="cell"><input id="imperativ_mn3" type="text" pInputText [(ngModel)]="glagol.oblici[4].mn3"></div>
          <div class="cell"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="РГП">
      <div class="tableform">
        <div class="row">
          <div class="cell"></div>
          <div class="cell"><h4>Једнина</h4></div>
          <div class="cell"><h4>Множина</h4></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Мушки род</p></div>
          <div class="cell"><input id="rgp_mj" type="text" pInputText [(ngModel)]="glagol.rgp_mj"></div>
          <div class="cell"><input id="rgp_mm" type="text" pInputText [(ngModel)]="glagol.rgp_mm"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Женски род</p></div>
          <div class="cell"><input id="rgp_zj" type="text" pInputText [(ngModel)]="glagol.rgp_zj"></div>
          <div class="cell"><input id="rgp_zm" type="text" pInputText [(ngModel)]="glagol.rgp_zm"></div>
        </div>
        <div class="row">
          <div class="cell"><p class="label">Средњи род</p></div>
          <div class="cell"><input id="rgp_sj" type="text" pInputText [(ngModel)]="glagol.rgp_sj"></div>
          <div class="cell"><input id="rgp_sm" type="text" pInputText [(ngModel)]="glagol.rgp_sm"></div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="ГПП+ГПС">
      <div class="tableform">
        <div class="row">
          <div class="cell">Глаголски придев прошли</div>
          <div class="cell"><input id="gpp" type="text" pInputText [(ngModel)]="glagol.gpp"></div>
        </div>
        <div class="row">
          <div class="cell">Глаголски придев садашњи</div>
          <div class="cell"><input id="gps" type="text" pInputText [(ngModel)]="glagol.gps"></div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
