.tab-container {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.label {
    font-weight: bold;
}

.input p {
    padding-left: 0;
    padding-right: 20px;
}

.input input {
    width: 150px;
    height: 30px;
    margin: auto;
    font-family: "Fira Sans";
}

.button {
    height: fit-content;
    margin-top: 25px;
    margin-left: 20px;
}

:host ::ng-deep .p-fieldset-content, .data, .broj {
    padding-top: 0;
}

:host ::ng-deep .p-fieldset {
    margin-bottom: 30px;
    width: fit-content;
}
