.home-container {
    margin: 10px
}
  
:host ::ng-deep .p-fieldset-legend {
    background-color: white;
    border: none;
    font-family: "Fira Sans";
}
  
:host ::ng-deep .p-fieldset {
    height: 90vh;
    min-height: max-content;
    min-width: 32vw;
    overflow: auto;
    text-align: justify;
}

:host ::ng-deep .p-fieldset-content {
    padding-top: 0;
}
  