<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>Речник</title>
    <link rel="stylesheet" href="slovo2-b5.css">
</head>
<body>
    <div class="title-page">
        <div class="center">
            <div class="matica">МАТИЦА СРПСКА</div>
            <div class="naslov">
                <p class="veca_slova">РЕЧНИК</p>
                <p>САВРЕМЕНОГ</p>
                <p>СРПСКОГ</p>
                <p>ЈЕЗИКА</p>
            </div>
    
            <div class="info">
                <img src="data:image/jpeg;base64,{{matica_logo}}" alt="Logo" style="width: 70pt; height: auto;">
                <p>НОВИ САД</p>
                <p>2025</p>
            </div>
        </div>
    </div>

    <div class="impresum-page">
        <div class="center">
            <div class="space"></div>
            <div class="naslov_impresum">Обрађивачи</div>
            {% for i in impresum.obradili %}
                <div>{{i}}</div>
            {% endfor %}
            <div class="naslov_impresum">Редактори</div>
            {% for u in impresum.redakcija %}
                <div>{{u}}</div>
            {% endfor %}
            <div class="naslov_impresum">Акцентолог</div>
            {% for u in impresum.akcentolog %}
                <div>{{u}}</div>
            {% endfor %}
            <div class="naslov_impresum">Уредници</div>
            {% for r in impresum.uredili %}
                <div>{{r}}</div>
            {% endfor %}
            <div class="naslov_impresum">Дигитална платформа</div>
            {% for d in impresum.digital %}
                <div>{{d}}</div>
            {% endfor %}
            <div class="copyright">
                <div>{{impresum.copyright}}</div>
                <div>{{impresum.napomena}}</div>
            </div>
        </div>
    </div>
    
    <div class="predgovor-page">
        <div class="predgovor">
            <div class="skracenice-title">ПРЕДГОВОР</div>
            {% autoescape off %}{{predgovor}}{% endautoescape %}
        </div>
    </div>

    <div class="skracenice-page">
        <div class="skracenice-title">Техничке скраћенице</div>
        <div class="skracenice">  
            <table>
                <tbody> 
                    {% for kvalifikator in kvalifikatori %}
                        <tr>
                            <td>{{kvalifikator.skracenica}}</td>
                            <td>{{kvalifikator.naziv}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="izvori-page">
        <div class="izvori-title">ИЗВОРИ</div>
        <div class="izvori">
            <table>
                <tbody>
                    {% for izvor in izvori %}
                        <tr>
                            <td class="izvor-skr">{{izvor.skracenica}}</td>
                            <td>{% autoescape off %}{{izvor.opis}}{% endautoescape %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for slovo in slova %}
    <div class="slovo-block">
        <div class="slovo">{{slovo.slovo}}</div>
        <div class="odrednice">
        {% for od, glava in slovo.odrednice %}
            <div class="odrednica-header">{% autoescape off %}{{glava}}{% endautoescape %}</div>
            <div class="odrednica">{% autoescape off %}{{od}}{% endautoescape %}</div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
