.container {
  padding: 10px;
}

.tableform {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      padding-right: 5px;
    }
  }
}

.fableft {
  z-index: 100;
  position: fixed !important;
  left: 15px;
  bottom: 15px;
  width: 40px !important;
  height: 40px !important;
}
